.daily-soundtrack {
  font-family: 'Georgia', serif;
  border: 3px solid orange;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.daily-soundtrack .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../assets/backgrounds/silver-background.jpg') repeat;
  opacity: 0.1;
  z-index: 1;
  pointer-events: none;
}
.daily-soundtrack h2 {
  margin: 0 0 1em;
}

.daily-soundtrack p {
  margin: 0 0 0.5em;
}

.daily-soundtrack a {
  display: block;
  padding-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 60%;
  height: 0;
  padding-top: 34%;
  margin: 0 auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.daily-soundtrack app-rating-bar {
  padding-top: 22px;
  display: inline-block;
}

.audio-player-container {
  margin: 20px 0;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  position: relative;
}

audio {
  width: 100%;
}
