<div class="container">
  <h1>My favourite albums</h1>
  <h4>I've written something about all my favourite albums! If you're looking for a recommendation, you can have a little browse here</h4>
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search albums...">
  </div>
  <div class="sorting-buttons">
    <button (click)="sortAlbums('random')">Random Order</button>
    <button (click)="sortAlbums('alphabeticalName')">Alphabetical by Album</button>
    <button (click)="sortAlbums('alphabeticalArtist')">Alphabetical by Artist</button>
    <button (click)="sortAlbums('releaseDate')">By Release Date</button>
  </div>
  <div *ngFor="let album of filteredAlbums" class="album-card" (click)="showDescription(album)">
    <div class="album-image-container" [style.border-color]="album.description ? 'inherit' : 'red'"
         [style.border-style]="album.description ? 'none' : 'solid'"
         [style.border-width]="album.description ? '0' : '2px'">
      <img placeholder [src]="'assets/music/albums/' + album.filename" [alt]="album.name" class="album-image">
    </div>
    <div class="album-info" [style.background-color]="generateRainbowColor(album.releaseyear)" [style.color]="textColor">
      <h3 class="album-name">{{album.artist}} - {{ album.name }}</h3>
      <span class="album-date" >{{ album.releaseyear }}</span>
    </div>
  </div>
</div>

<div *ngIf="selectedAlbum" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeDescription()">&times;</span>
    <h2>{{ selectedAlbum.name }}</h2>
    <img placeholder [src]="'assets/music/albums/' + selectedAlbum.filename" [alt]="selectedAlbum.name" class="modal-image">
    <div class="releaseyear-icon" [style.background-color]="generateRainbowColor(selectedAlbum.releaseyear)" [style.color]="textColor">
      {{ selectedAlbum.releaseyear }}
    </div>
    <p>{{ selectedAlbum.description }}</p>
    <h3>Top Tracks:</h3>
    <ul class="top-tracks">
      <li *ngFor="let track of selectedAlbum.topTracks" [style.background-color]="getRandomColor()">{{ track }}</li>
    </ul>
  </div>
</div>
