<h1>My favourite albums</h1>

<div class="album-container">
  <h4>I will write my thoughts about these albums down, but that will be a long process that I will take my time with. But you can still click these albums and know that I recommend them all!</h4>
  <div class="sorting-buttons">
    <button (click)="sortAlbums('random')">Random Order</button>
    <button (click)="sortAlbums('alphabeticalName')">Alphabetical by Album</button>
    <button (click)="sortAlbums('alphabeticalArtist')">Alphabetical by Artist</button>
    <button (click)="sortAlbums('releaseDate')">By Release Date</button>
  </div>
  <div *ngFor="let album of albums" class="album-card" (click)="showDescription(album)">
    <img [src]="'assets/music/albums/' + album.filename" [alt]="album.name" class="album-image">
    <h3 class="album-name">{{album.artist}} - {{ album.name }}</h3>
  </div>
</div>

<div *ngIf="selectedAlbum" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeDescription()">&times;</span>
    <h2>{{selectedAlbum.artist}} - {{ selectedAlbum.name }}</h2>
    <h4>{{selectedAlbum.releaseyear}}</h4>
    <img [src]="'assets/music/albums/' + selectedAlbum.filename" [alt]="selectedAlbum.name" class="modal-image">
    <p>{{ selectedAlbum.description }}</p>
  </div>
</div>
