<div class="container">
  <h1>Affiliate Links</h1>
  <p>I am so proud to present some local projects that deserve your support and attention! Please click these links and tell your friends and family about them. Currently there's just one but it's a good one!</p>
  <div class="gif">
    <img src="../../../assets/homepage/fire.gif">
  </div>
  <div class="link">
    <h2>D Kicker</h2>
    <p>My friends Marta and Victor have made a table football where instead of normal football players, you play with little penises! It's a lot of fun and very cute. It was created with a question in mind: what's going on with masculinity these days? Why do we want to compare ourselves all the time?</p>
    <p>You can learn more about D Kicker on their <a href="https://www.instagram.com/d.kicker.cm/">instagram</a></p>
    <div class="image">
      <img src="../../../assets/links/d-kicker.PNG">
    </div>
    <div class="image">
      <img src="../../../assets/links/d-kicker2.jpeg">
    </div>
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/fire.gif">
  </div>
  <h2>Anni's Durstlöscher Reviews</h2>
  <p>Anni is the local expert on popular juice brand 'Durstlöscher' and kindly offers her insight and opinion on all the flavours. Please click this Durstlöscher to learn more:</p>
  <a routerLink="/links/durstloescher">
    <img src="../../../assets/links/dursti-wursti.gif">
  </a>
</div>
