<div class="space-bg" [style.background-image]="'url(' + imageService.imageUrl('/misc/space.jpg') + ')'">
  <h1 class="title">Miscellaneous Crap</h1>

  <div class="floating-item" [style.top]="positions[0].top" [style.left]="positions[0].left">
    <button class="btn-chaos btn-1" (click)="handleClick('/misc/back-to-brightwell')">Back To Brightwell</button>
  </div>

  <div class="floating-item" [style.top]="positions[1].top" [style.left]="positions[1].left">
    <img class="chaos-img img-sm" [src]="imageService.imageUrl('/misc/godzilla.gif')" alt="godzilla">
  </div>

  <div class="floating-item" [style.top]="positions[2].top" [style.left]="positions[2].left">
    <button class="btn-chaos btn-2" (click)="handleClick('/misc/characters')">Smash Bros Characters!</button>
  </div>

  <div class="floating-item" [style.top]="positions[3].top" [style.left]="positions[3].left">
    <img class="chaos-img img-md" [src]="imageService.imageUrl('/misc/space2.gif')" alt="literature gif">
  </div>

  <div class="floating-item" [style.top]="positions[4].top" [style.left]="positions[4].left">
    <img class="chaos-img img-lg" [src]="imageService.imageUrl('/misc/luigi.webp')" alt="luigi">
  </div>

  <div class="floating-item" [style.top]="positions[5].top" [style.left]="positions[5].left">
    <button class="btn-chaos btn-3" (click)="handleClick('/misc/mariokart')">Mario Kart Rankings</button>
  </div>

  <div class="floating-item" [style.top]="positions[6].top" [style.left]="positions[6].left">
    <img class="chaos-img img-md" [src]="imageService.imageUrl('/misc/stitch/thug.jpg')" alt="thug stitch">
  </div>

  <div class="floating-item" [style.top]="positions[7].top" [style.left]="positions[7].left">
    <button class="btn-chaos btn-4" (click)="handleClick('/misc/stitch')">Cross Stitches</button>
  </div>

  <div class="floating-item" [style.top]="positions[8].top" [style.left]="positions[8].left">
    <button class="btn-chaos btn-5" (click)="handleClick('/misc/pokemon')">Pokemon Rankings</button>
  </div>

  <div class="floating-item" [style.top]="positions[9].top" [style.left]="positions[9].left">
    <img class="chaos-img img-md" [src]="imageService.imageUrl('/misc/pokemon/omanyte.gif')" alt="omanyte">
  </div>

  <div class="floating-item" [style.top]="positions[10].top" [style.left]="positions[10].left">
    <button class="btn-chaos btn-6" (click)="handleClick('/misc/brexitsummit')">BREXIT SUMMIT</button>
  </div>

  <div class="floating-item" [style.top]="positions[11].top" [style.left]="positions[11].left">
    <img class="chaos-img img-sm" [src]="imageService.imageUrl('/misc/samus.gif')" alt="smash gif">
  </div>

  <div class="floating-item" [style.top]="positions[12].top" [style.left]="positions[12].left">
    <img class="chaos-img img-sm clickable" (click)="handleClick('/misc/writing')" [src]="imageService.imageUrl('/misc/secreta.gif')" alt="secreta">
  </div>
</div>
