.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background: linear-gradient(45deg, #05025c, #350170);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #cccab6;
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  margin-bottom: 10px;
  background-color: #cccab6;
}

button:hover {
  transform: scale(1.05);
}

.gif {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  display: inline-block;
  margin: 10px;
  width: calc(50% - 20px);
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .image {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
