<div class="container">
  <h1>Miscellaneous Crap</h1>
  <p>This page is a dumping ground for all the stuff which doesn't really fit anywhere else!</p>
  <div class="gif">
    <img src="../../../assets/misc/godzilla.gif">
  </div>
  <p>Here you can see all of the Top 8 pictures I made for all of the BREXIT SUMMIT tournaments that I hosted in my apartment between 2019 and 2022:</p>
  <button (click)="handleClick('/misc/brexitsummit')">BREXIT SUMMIT Top 8 Pictures</button>
  <div class="gif">
    <img src="../../../assets/misc/smash.gif">
  </div>
  <h2>Do you play Super Smash Bros Ultimate? If so, you can found out...</h2>
  <button (click)="handleClick('/misc/characters')">What does your main say about you?</button>
</div>

