<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraser's Website</title>
</head>
<body>
<app-custom-marquee [messages]="['Time is just a vibe 🔥', 'More is more 🔥', 'Never say no to smash 🔥', 'Don\'t (always) fuck your friends 🔥', 'I came here to win and to receive 🔥', 'Ich hab schlecht geworfen, mir geht\'s schlecht, also nein 🔥']"></app-custom-marquee>
<div class="gif">
  <img src="../../../assets/homepage/welcome.gif">
</div>
<div class="container" [style.background-color]="this.homepageColor" [style.color]="textColor(this.homepageColor)">
  <h1>Fraser's Website</h1>
  <p>Thank you so much for visiting my website! Since I stopped using social media I've been needing a space to post a bunch of nonsense so here you are.</p>
  <div class="image">
    <img [ngSrc]="randomImage" width="600" height="600">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/whatsnew.gif">
  </div>
  <p>I have a newsletter! You can subscribe if you don't want to miss out on all the stuff I'm adding to the website:</p>
  <button class="fun-button newsletter" (click)="handleClick('/newsletter')">
    <span class="button-text">Newsletter</span>
  </button>
  <h3>Updates to the website</h3>
  <div class="changelog-container">
    <app-changelog></app-changelog>
  </div>
<div class="gif-box">
  <div class="gif">
    <img src="../../../assets/homepage/news.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/nes.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/gamecube.gif">
  </div>
</div>
  <p>The original thing I used this website for was to give reviews of all the video games I play. There are some long and thought-out impressions of literally every game I've played since 2020. You can check out the lists here:</p>
  <button class="fun-button games" (click)="handleClick('/games')">
    <span class="button-text">Games</span>
  </button>
<div class="gif-box">
  <div class="gif">
    <img src="../../../assets/homepage/camera.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/film.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/worm.gif">
  </div>
</div>
  <p>I also have some stuff on the films I've watched! Although you have to know that most films I watch are queer arthouse films because I have a Yorck Unlimited card and like to go to "Mongay", their monday showing of gay films.</p>
  <button class="fun-button films" (click)="handleClick('/films')">
    <span class="button-text">Films</span>
  </button>
<div class="gif">
  <img src="../../../assets/homepage/ciber.gif" margin="5px">
</div>
  <p>Also be sure to check out this super extended music section which features loads of cool shit. There is a list of all my favourite albums, some links to Spotify playlists, a full review of all the soundtracks on the Nintendo music app, and even download links to all these wild video game mixes I made!</p>
  <button class="fun-button music" (click)="handleClick('/music')">
    <span class="button-text">Music</span>
  </button>
<div class="gif-box">
  <div class="gif">
    <img src="../../../assets/homepage/book.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/book2.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/bookmark.gif">
  </div>
</div>
  <p>I don't claim to be a big reader but that doesn't mean I haven't read some banger books. If you're looking for your next mind-blowing holiday reading experience, I have some recommendations for you here:</p>
  <button class="fun-button books" (click)="handleClick('/books')">
    <span class="button-text">Books</span>
  </button>
<div class="gif">
  <img src="../../../assets/homepage/eyes.gif" margin="5px">
</div>
  <p>If you want to see some cool pictures of my life, then you might enjoy the Gallery section. I've got some fun anecdotes over there:</p>
  <button class="fun-button gallery" (click)="handleClick('/gallery')">
    <span class="button-text">Gallery</span>
  </button>
<div class="gif-box">
  <div class="gif">
    <img src="../../../assets/homepage/fish.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/fish.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/fish.gif">
  </div>
</div>
  <p>This section contains guest content from members of the community:</p>
  <button class="fun-button community" (click)="handleClick('/community')">
    <span class="button-text">Community</span>
  </button>
<div class="gif">
  <img src="../../../assets/homepage/sungulls.gif" margin="5px">
</div>
  <p>This section is just a dumping ground for all the other stuff that didn't fit anywhere else! A lot of thoughts about Nintendo stuff:</p>
  <button class="fun-button misc" (click)="handleClick('/misc')">
    <span class="button-text">Misc</span>
  </button>
<div class="gif">
  <img src="../../../assets/homepage/dinomail.gif" margin="5px">
</div>
  <p>I've also made a place for you to leave a little message! If you have something on your heart, you can put it in the guestbook:</p>
  <button class="fun-button guestbook" (click)="handleClick('/guestbook')">
    <span class="button-text">Guestbook</span>
  </button>
  <p>Wanna change the colour of this homepage? You can change it for everyone. Select a colour or put in a hex code here:</p>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <form (ngSubmit)="submitColor()">
    <app-color-picker [color]="colorSelection.color" (colorChange)="colorSelection.color = $event"></app-color-picker>
    <button type="submit">Submit Colour</button>
  </form>
  <p class="small-text">Number of times changed so far: {{ this.colorChanges }}</p>
</div>
<div class="gif">
  <img src="../../../assets/homepage/tut.gif">
</div>
<div class="footnote">
  <p>Here is the <a routerLink="/changelog">changelog</a> of the website, where you can see everything I updated</p>
</div>
</body>

