<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraser's Website</title>
</head>
<body>
<app-custom-marquee [messages]="['Time is just a vibe 🔥', 'More is more 🔥', 'Don\'t fuck your friends 🔥', 'Never say no to smash 🔥', 'I came here to receive and to win 🔥']"></app-custom-marquee>
<div class="gif">
  <img src="../../../assets/homepage/welcome.gif">
</div>
<div class="container">
  <h1>Fraser's Website</h1>
  <p>Thank you so much for visiting my website! Since I stopped using social media I've been needing a space to post a bunch of nonsense so here you are.</p>
  <div class="image">
    <img [src]="randomImage">
  </div>
</div>
<div class="gif-box">
  <div class="gif">
    <img src="../../../assets/homepage/news.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/nes.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/gamecube.gif">
  </div>
</div>
<div class="container">
  <p>The original thing I used this website for was to give reviews of all the video games I play. There are some long and thought-out impressions of literally every game I've played since 2020. You can check out the lists here:</p>
  <button class="fun-button games" (click)="handleClick('/games/2025')">
    <span class="button-text">Games</span>
  </button>
</div>
<div class="gif-box">
  <div class="gif">
    <img src="../../../assets/homepage/camera.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/film.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/worm.gif">
  </div>
</div>
<div class="container">
  <p>I also have some stuff on the films I've watched! Although you have to know that most films I watch are queer arthouse films because I have a Yorck Unlimited card and like to go to "Mongay", their monday showing of gay films.</p>
  <button class="fun-button films" (click)="handleClick('/films/2025')">
    <span class="button-text">Films</span>
  </button>
</div>
<div class="gif">
  <img src="../../../assets/homepage/ciber.gif" margin="5px">
</div>
<div class="container">
  <p>Also be sure to check out this super extended music section which features loads of cool shit. There is a list of all my favourite albums, some links to Spotify playlists, a full review of all the soundtracks on the Nintendo music app, and even download links to all these wild video game mixes I made!</p>
  <button class="fun-button music" (click)="handleClick('/music')">
    <span class="button-text">Music</span>
  </button>
</div>
<div class="gif">
  <img src="../../../assets/homepage/eyes.gif" margin="5px">
</div>
<div class="container">
  <p>If you want to see some cool pictures of my life, then you might enjoy the Gallery section. I've got some fun anecdotes over there:</p>
  <button class="fun-button gallery" (click)="handleClick('/gallery')">
    <span class="button-text">Gallery</span>
  </button>
</div>
<div class="gif-box">
  <div class="gif">
    <img src="../../../assets/homepage/fish.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/fish.gif">
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/fish.gif">
  </div>
</div>
<div class="container">
  <p>This website has a number of affiliates and projects that I'm proud to support. Currently there's just one but it's a doozy:</p>
  <button class="fun-button links" (click)="handleClick('/links')">
    <span class="button-text">Links</span>
  </button>
</div>
<div class="gif">
  <img src="../../../assets/homepage/sungulls.gif" margin="5px">
</div>
<div class="container">
  <p>I've also got an archive of all the Top 8 images I made for my smash tournament, BREXIT SUMMIT. The story behind this is that I used to host strangers from the internet in my house every week for a smash ultimate tournament. I ended up having a lot of fun making these silly pictures of the top 8, and in order to have them available online I've put them all here in this new 'Super Smash' section of the website:</p>
  <button class="fun-button brexit" (click)="handleClick('/smash')">
    <span class="button-text">Smash</span>
  </button>
  <p>And get excited because coming up, I'm gonna put even more shit on here...</p>
</div>
<div class="gif">
  <img src="../../../assets/homepage/tut.gif">
</div>
</body>
</html>
