<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraser's Website</title>
</head>
<body>
<marquee class="marquee">Time is just a vibe 🔥</marquee>
<div class="container">
  <h1>Fraser's Website</h1>
  <p>Thank you so much for visiting my website! Since I stopped using social media I've been needing a space to post a bunch of nonsense.</p>
  <p>The main thing I use this website for is to give reviews of all the video games I play. You can check out the lists here:</p>
  <button class="fun-button" (click)="handleClick('/games')">
    <span class="button-text">Games</span>
  </button>
  <p>I also have some stuff on the films I've watched! Although you have to know that most films I watch are queer arthouse films! This is because I have a Yorck Unlimited card and like to go to "Mongay", their monday showing of gay films.</p>
  <button class="fun-button" (click)="handleClick('/films')">
    <span class="button-text">Films</span>
  </button>
  <p>I've also got an archive of all the Top 8 images I made for my smash tournament, BREXIT SUMMIT. The story behind this is that I used to host strangers from the internet in my house every week for a smash ultimate tournament. I ended up having a lot of fun making these silly pictures of the top 8, and in order to have them available online I've put them all here:</p>
  <button class="fun-button" (click)="handleClick('/brexitsummit')">
    <span class="button-text">BREXIT SUMMIT Top 8 Pictures</span>
  </button>
  <p>And get excited because coming up, I'm gonna put even more shit on here...</p>
</div>
<div class="gif">
  <img src="../../../assets/homepage/tut.gif">
</div>
<marquee class="marquee">More is more 🔥</marquee>
</body>
</html>
