body {
  background-color: #ffffe0;
  color: #ffffe0;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: Comic Sans MS, cursive, sans-serif;
  animation: blink 1s infinite alternate;
}

a {
  color: #00ff00;
  font-family: Comic Sans MS, cursive, sans-serif;
  text-align: center;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from { color: #ff00ff; }
  to { color: #00ff00; }
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 5px dashed orange;
  background-color: rgba(0, 0, 0, 0.8);
}

.gif-box {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.gif {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.image {
  width: 100%;
  height: 100%; /* Ensure the container has a defined height */
  overflow: hidden;
}

.image img {
  max-width: 100%;
  max-height: 600px;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Use 'cover' if you want to fill the container and crop excess */
}

.fun-button {
  background: radial-gradient(circle, #ff1493, #ff4500);
  padding: 15px 40px;
  font-size: 22px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.fun-button:hover {
  transform: scale(1.1) rotate(-3deg);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}

.fun-button:active {
  transform: scale(0.95);
}

.fun-button.games {
  background: radial-gradient(circle, #ff6b2b, #ffcc00);
  border: 4px solid #ffcc00;
}

.fun-button.films {
  background: radial-gradient(circle, #ed4545, #ff0000);
  border: 4px solid #8f000a;
}

.fun-button.music {
  background: radial-gradient(circle, #67f525, #027800);
  border: 4px solid #003305;
}

.fun-button.gallery {
  background: radial-gradient(circle, #ff8000, #eb3700);
  border: 4px solid #b53900;
}

.fun-button.links {
  background: radial-gradient(circle, #000000, #1f1f1f);
  border: 4px solid #000000;
}

.fun-button.misc {
  background: radial-gradient(circle, #5745ff, #4800c4);
  border: 4px solid #0500a1;
}

.fun-button.guestbook {
  background: radial-gradient(circle, #dd1fff, #c266ff);
  border: 4px solid #ba00a8;
}

.flashing-warning {
  background-color: yellow;
  color: black;
  padding: 20px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}

.footnote {
  color: black;
}
