<div class="container">
  <h1>About the Smash Bros. Soundtrack Project</h1>

  <section>
    <p>So you're interested in knowing why I made this whole ass web page for streaming the various smash soundtracks? I decided to start it because I was inspired by how cool it was that I could listen to my favourite music over in the daily soundtracks section. I wanted to put more on here!</p>

    <p>As for why the smash soundtracks, I already know that Smash Ultimate will never make it onto the Nintendo Music app, and also I know that youtube uploads of the tracks regularly get taken down, so I am unable to make playlists.</p>

    <p>On top of that, I thought to myself that it would be really cool to be able to filter by composers, so you can see all the remixes by different composers and compare and contrast. Having that all in an easy to access place - why not!</p>

    <p>I have to admit, it was way more work than I anticipated, especially because I decided to redo the images myself, because I took great pleasure in selecting the most appropriate character for each track, and I also decided to write a short comment about each one. There are over 1000 so it took me like a month!</p>

    <p>I listened to many things in this soundtrack for the first time. Others, like the Animal Crossing tracks, I've heard thousands of times.</p>
  </section>

  <section>
    <h2>The Anthology</h2>
    <p>Putting the smash soundtrack on this website would not have been possible without <strong>Roynerer</strong>, who ripped the game and prepared all the tracks with metadata, and made it available online: <a href="https://musicbrainz.org/series/7130103c-97cd-4183-98a6-ea2851a89784" target="_blank">Learn more here</a></p>

    <p>What a piece of work that must have been! I went through his work and fixed a few things here and there, and adapted it to my needs. I ended up removing some tracks:</p>
    <ul>
      <li>Shortened versions of tracks</li>
      <li>Brawl versions of Melee mixes (because they're worse)</li>
      <li>Jingles and victory themes</li>
      <li>Japanese versions of the songs (where both languages are available)</li>
      <li>Pinch versions of Mario and Street Fighter tracks</li>
    </ul>
  </section>

  <section>
    <h2>Star System</h2>
    <p>I also gave each track a rating out of 5:</p>
    <ul class="ratings">
      <li><strong>0 stars:</strong> I will protest if you select it in tournament because listening to it is like torture.</li>
      <li><strong>1 star:</strong> I actively dislike it.</li>
      <li><strong>2 stars:</strong> I'm neither here nor there on it.</li>
      <li><strong>3 stars:</strong> I quite like it.</li>
      <li><strong>4 stars:</strong> I really like it!</li>
      <li><strong>5 stars:</strong> One of the very best. I'm obsessed with it.</li>
    </ul>
  </section>

  <section>
    <h2>Selecting images</h2>
    <p>Putting the pictures to the tracks was a lot of fun. I decided to make pictures with renders of each smash game. If a track debuted in Melee for instance, I would put the Melee render of the relevant character. This was satisfying, but led to some difficult decisions:</p>
    <ul>
      <li>Smash 4 Villager on the Brawl Animal Crossing tracks.</li>
      <li>Smash 4 Dr Mario on the Brawl 'Chill' remix, because Doc wasn't in Brawl.</li>
      <li>Ridley on "Vs. Ridley" & a few others because come on.</li>
      <li>K Rool on Brawl's Ship Deck track.</li>
      <li>Dark Samus on Metroid Prime tracks from Brawl.</li>
      <li>Smash 4 Roy on Brawl's 'Roy's Hope' track and also 'Attack'.</li>
      <li>Ken on Ken's theme in Smash 4.</li>
      <li>Smash 4 Wii Fit & Mii Fighters on Brawl's Pictochat & Brain Training because Brawl doesn't have any Wii-coded characters.</li>
      <li>Piranha Plant on the Underground Theme because I just think it fits.</li>
    </ul>

    <p>It kinda hurts not to put a pic of the relevant character just because of the stupid rule I made. Another stupid rule is that I wanted to use each render at least once. That was tough in some cases, since some characters have received no love music-wise since Brawl (looking at you, Lucas, Game & Watch).</p>
  </section>

  <section>
    <h2>Verdict on the soundtrack</h2>
    <p>In Ultimate they really did a huge wave of new remixes, which is awesome, but they didn't cover all 90 or so characters, which is a shame. They put all the eggs in certain baskets (ahem Mega Man, Castlevania) and now we haven't had new remixes for these:</p>
    <ul>
      <li>Mother 3</li>
      <li>Kid Icarus</li>
      <li>WarioWare or Wario Land</li>
      <li>Punch-Out!!</li>
      <li>Bayonetta</li>
    </ul>

    <p>And they really could have put in some more tracks (not just some new original tracks from their games) for franchises like Star Fox, Mario Kart, and Sonic.</p>

    <p>But that's enough complaining. We have been served so much good shit over the years by the various composers. Thanks to smash we know about obscure-ass games like the Japanese-only Fire Emblem games, Earthbound, and even things like Wii Fit and ARMS. I truly really do love Smash.</p>

    <p>During this month when I prepared this project, I listened to every track and it was honestly great. I had such a fun time. Would do it again. Am genuinely thinking about putting more large and difficult soundtracks which will never make it to the app on here just so I can listen to it whenever I want. Looking at you next, Mario Kart World...</p>
  </section>
</div>
