.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  border: 2px solid #023000;
  border-radius: 8px;
  background: radial-gradient(circle, #a1d6ad, #caff9e);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.gif-box {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.gif {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.neon-text {
  font-family: 'Papyrus', cursive;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  animation: neon-flicker 1.5s infinite alternate;
}
