<div class="container">
  <h1 class="neon-text">DJ World Peace</h1>
  <div class="gif-box">
    <div class="gif">
      <img src="../../../assets/music/worldpeace/world.gif">
    </div>
    <div class="gif">
      <img src="../../../assets/music/worldpeace/peace.gif">
    </div>
  </div>
  <p>It's true, I am a disco DJ! I am part of the DJ collective called WEYES and we put on parties in Berlin. Here's a set played at the legendary Vettern Bar in Kreuzberg:</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/AZekBAYoH_Y?si=ll8z69N_WLqu90JG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <p>And if that still isn't enough, this is the recording from when I played at Ort's Tender Fury party:</p>
  <iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FWEYES%2Fdj-world-peace-tender-fury%2F" frameborder="0" title="Mixcloud embedded player"></iframe>
  <p>I have also started my music production career by making an extended dance mix of this banger from the Mario Kart World soundtrack:</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8ye8vf2RLoA?si=-02Oikh7oMgj5DtC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <p>WEYES is a non-growth-oriented DJ collective where we aim to have fun with friends and spread immaculate vibes.</p>
  <div class="gif">
    <img src="../../../assets/music/worldpeace/weyes.PNG">
  </div>
</div>
