<app-games></app-games>
<div class="container">
  <h1 class="text-center">Games Fraser Played in 2022</h1>
  <p class="lead text-center">Welcome to my list of games I played in 2022! This one I did back when I was using that horrible website Twitter, which is why the reviews are so short. I really did try to go back to Xenoblade 3 but it was so overwhelming to jump into the middle of the game. It's just so loud with so many characters screaming.</p>

  <div *ngFor="let game of games">
    <div class='game-review'>
      <h2>{{ game.name }} ({{ game.platform }})</h2>
      <p *ngIf="game.vibes && game.vibes.toString().trim() !== ''">
        <span class="vibes">Vibes:</span> {{ game.vibes }}/10
      </p>
      <p *ngIf="game.gameplay && game.gameplay.toString().trim() !== ''">
        <span class="gameplay">
          {{ game.gameplay.toString().endsWith('S') ? 'Story:' : 'Gameplay:' }}
        </span>
        {{ game.gameplay.toString().replace('S', '') }}/10
      </p>
      <div *ngFor="let paragraph of game.review">
        <p [innerHTML]="paragraph"></p>
      </div>
      <img [src]="'assets/games/' + game.image" alt="{{ game.name }}">
    </div>
  </div>
</div>
