.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #023000;
  border-radius: 8px;
  background-color: #caff9e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

h1 {
  text-align: center;
  color: #333;
  width: 100%;
}

.filter-text {
  text-align: center;
  color: #333;
  width: 100%;
}

.cd-card {
  width: calc(33.333% - 13.34px);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .cd-card {
    width: calc(50% - 10px); /* Two cards per row on mobile */
  }
}

@media screen and (max-width: 480px) {
  .cd-card {
    width: 100%; /* One card per row on very small screens */
  }
}

.cd-card:hover {
  transform: scale(1.05);
}

.cd-image-container {
  width: 100%;
  padding-top: calc(100%);
  position: relative;
  overflow: hidden;
}

.cd-image {
  position: absolute;
  top: 13px;
  left: 21px;
  width: 89%;
  height: 89%;
  object-fit: cover;
}

.cd-case {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.cd-info {
  padding: 10px;
  margin: 0;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  flex-grow: 1;
}

.cd-name {
  margin-bottom: 5px; /* Add a little space between name and date */
}

.cd-date {
  font-size: 0.8em; /* Make the date smaller */
  opacity: 0.8; /* Make the date slightly less prominent */
}

.sorting-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sorting-buttons button {
  padding: 10px 15px;
  background-color: #6fa840;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-anchor {
  height: 10px;
}

.sorting-buttons button:hover {
  transform: scale(1.1);
  background-color: #00731e;
}

.sorting-buttons button:active {
  transform: scale(0.9);
  background-color: #00731e;
}

@media screen and (max-width: 768px) {
  .sorting-buttons {
    flex-direction: column;
    align-items: center;
  }

  .sorting-buttons button {
    width: 100%;
    max-width: 300px;
  }
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  max-width: 300px;
  background-color: #d9ffe3;
}

.search-container input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.tag-filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #d9ffe3;
  border-radius: 8px;
}

.tag-radio {
  display: inline-flex;
  align-items: center;
}

.tag-radio input[type="radio"] {
  margin-right: 5px;
  visibility: hidden;
}

.tag-radio label {
  background-color: #6fa840;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 2px;
}

.tag-radio input[type="radio"]:checked + label {
  background-color: #00731e; /* Highlight the selected label */
}

.tag-radio label:hover {
  background-color: #00731e;
}

.gif {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.gif-box {
  display: flex;
  justify-content: center;
  margin: 5px;
}
