.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  border: 2px solid #023000;
  border-radius: 8px;
  background: radial-gradient(circle, #a1d6ad, #caff9e);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kk-image {
  max-height: 300px;
}

.kkSong-container h1 {
  color: #185ac7; /* Light blue title */
  text-shadow: 2px 2px #ff66cc; /* Pink shadow */
}

.tier-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kkSong-image-container {
  display: inline-block;
  position: relative;
  margin: 3px;
}

.kkSong-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%; /* Circular image */
  border: 2px solid #66ccff; /* Light blue border */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.kkSong-image:hover {
  transform: scale(1.05); /* Scale on hover */
}

.kkSong-name {
  text-align: center;
  font-size: 16px;
  color: #550363; /* Pink song title */
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
