.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #5e0000;
  border: 2px solid #000000;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiers-container {
  width: 100%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.tier-header {
  margin-top: 12px;
  padding: 10px;
  background: #eee;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: bold;
}

.tier-header:hover {
  background: #e0e0e0;
}

.tier-name {
  width: 40px;
}

.tier-description {
  flex: 1;
  font-size: 16px;
  font-weight: normal;
  opacity: 0.8;
}

.arrow {
  font-size: 16px;
}

.tier-content {
  padding: 10px 20px;
}

.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pokemon-card img {
  width: 80px;
  height: auto;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  padding: 4px;
  transition: transform 0.1s;
}

.pokemon-card img:hover {
  transform: scale(1.1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  max-width: 800px;
  width: 90%;
  text-align: center;
}

.modal-image {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
}

.modal-image {
  animation: modal-fade-in 0.5s forwards;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.sorting-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.generations,
.regions,
.types,
.misc {
  margin-bottom: 20px;
  justify-content: center;
}

.sorting-buttons button {
  padding: 5px 10px;

  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sorting-buttons button:hover {
  background-color: #000000;
  color: #fff;
}

.sorting-buttons button:active {
  transform: scale(0.9);
  background-color: #000000;
  color: #fff;
}

.sorting-buttons button.selected {
  background-color: #000000;
  color: #fff;
}

.sorting-buttons button.selected:hover {
  background-color: #000000;
  opacity: 0.85;
  cursor: pointer;
  color: #fff;
}

.type-button {
  display: inline-block;
  margin-bottom: 4px;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .2);
  color: #fff;
  font-size: .75rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
  text-transform: uppercase;
  transition: opacity .4s;
}

.type-button.fire { background-color: #F08030; }      /* Fire */
.type-button.water { background-color: #6890F0; }     /* Water */
.type-button.grass { background-color: #78C850; }     /* Grass */
.type-button.electric { background-color: #F8D030; }  /* Electric */
.type-button.ice { background-color: #98D8D8; }       /* Ice */
.type-button.fighting { background-color: #C03028; }  /* Fighting */
.type-button.poison { background-color: #A040A0; }    /* Poison */
.type-button.ground { background-color: #E0C068; }    /* Ground */
.type-button.flying { background-color: #A890F0; }    /* Flying */
.type-button.psychic { background-color: #F85888; }   /* Psychic */
.type-button.bug { background-color: #A8B820; }       /* Bug */
.type-button.rock { background-color: #B8A038; }      /* Rock */
.type-button.ghost { background-color: #705898; }     /* Ghost */
.type-button.dragon { background-color: #7038F8; }    /* Dragon */
.type-button.dark { background-color: #705848; }      /* Dark */
.type-button.steel { background-color: #B8B8D0; }    /* Steel */
.type-button.fairy { background-color: #EE99AC; }     /* Fairy */
.type-button.normal { background-color: #A8A878; }    /* Normal */

