@if (error) {
  <div style="color: red;">
    {{ error }}
  </div>
}

<table class="retro-table">
  <caption>A list of all the various changes I've made to the website</caption>
  <tbody>
    @for (entry of changelogEntries; track entry) {
      <tr>
        <td class="nowrap" [class.major]="entry.majorRelease">{{ entry.date }}</td>
        <td [class.major]="entry.majorRelease">
          @if (entry.majorRelease) {
            <span class="sparkle">✨</span>
          }
          {{ entry.message }}
          @if (entry.majorRelease) {
            <span class="sparkle">✨</span>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
