<div *ngIf="error" style="color: red;">
  {{ error }}
</div>

<table class="retro-table">
  <caption>A list of all the various changes I've made to the website</caption>
  <tbody>
  <tr *ngFor="let entry of changelogEntries">
    <td class="nowrap" [class.major]="entry.majorRelease">{{ entry.date }}</td>
    <td [class.major]="entry.majorRelease">
      <span *ngIf="entry.majorRelease" class="sparkle">✨</span>
      {{ entry.message }}
      <span *ngIf="entry.majorRelease" class="sparkle">✨</span>
    </td>
  </tr>
  </tbody>
</table>
