<div class="container">
  <h1>Fraser's Mario Kart Rankings</h1>

  <img [src]="imageService.imageUrl('/misc/kart.gif')" alt="cool gif with all the mario kart characters">

  <p>{{ pageDescription }}</p>
  <nav class="filter-bar">
    @for (game of gameMap | keyvalue:orderUnchanged; track game) {
      <a
        class="filter-button"
        [ngClass]="{ 'selected': currentFilter === game.key }"
        (click)="filterTracks(game.key)">
        {{ game.value }}
      </a>
    }
  </nav>
  <p>{{ gameDescription[currentFilter] }}</p>
  <ul class="track-list">
    @for (track of tracks.slice(0, itemsToShow); track track) {
      <li class="track-card">
        <img
          [ngSrc]="imageService.imageUrl('/misc/mariokart/' + track.image)"
          alt="{{ track.name }} image"
          width="600"
          height="400"
          >
          <div class="track-header">
            <h2>{{ track.name }}</h2>
            <h3>{{ getKeyByValue(gameMap, track.original) }}</h3>
          </div>
          <p>{{ track.description }}</p>
          <div class="star-bar">
            <p>Music:
              @for (i of ' '.repeat(track.music).split(''); track i) {
                <span class="star">
                  <img src="../../../assets/misc/mariokart/spinningstar.gif">
                </span>
              }
            </p>
            <p>Vibes:
              @for (i of ' '.repeat(track.vibes).split(''); track i) {
                <span class="star">
                  <img src="../../../assets/misc/mariokart/spinningstar.gif">
                </span>
              }
            </p>
            <p>Track:
              @for (i of ' '.repeat(track.track).split(''); track i) {
                <span class="star">
                  <img src="../../../assets/misc/mariokart/spinningstar.gif">
                </span>
              }
            </p>
          </div>
          @if (hasDuplicates(track)) {
            <div class="navigation">
              @if (track.previousGame) {
                <button
                  (click)="navigateToTrack(track.previousGame, track.game, track.trackId)"
                  class="nav-button"
                  >
                  <span>&#8592;</span> Prev
                </button>
              }
              <h4>Compare with other versions! Current Game: {{ track.game }}</h4>
              @if (track.nextGame) {
                <button
                  (click)="navigateToTrack(track.nextGame, track.game, track.trackId)"
                  class="nav-button"
                  >
                  Next <span>&#8594;</span>
                </button>
              }
            </div>
          }
          <div [ngStyle]="{'padding-bottom': '25px'}"></div>
          <app-rating-bar [rating]="{id: track.id, ratings: track.rating}"></app-rating-bar>
        </li>
      }
    </ul>
    <div #scrollAnchor class="scroll-anchor"></div>
  </div>
