.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(45deg, #05025c, #350170);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #FFF;
  border: 2px solid #000000;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.track-card .mario-kart-64 {
  width: 320px;
  height: 237px;
  object-fit: cover;
}

.track-card .mario-kart-ds {
  width: 320px;
  height: 237px;
  object-fit: cover;
}

.track-card .mario-kart-7 {
  width: 400px;
  height: 240px;
  object-fit: cover;
}

.track-card {
  margin: 1em;
  padding: 1em;
  background-color: #bfccff;
  border: 1px solid #333;
  border-radius: 5px;
  min-width: 200px;
  color: #05025c;
  transition: transform 0.3s;
}

.track-card:hover {
  transform: scale(1.05);
}

.track-card img {
  width: 100%;
}

.track-card h2 {
  font-size: 1.5em;
  margin: 0;
}


.track-card .track-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0.5em;
}

.track-card .track-header h2 {
  margin-right: 10px;
}

.track-card .track-header h3 {
  font-size: 1em;
  opacity: 0.9;
}

.track-card .subtitle {
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;
}

.track-card .subtitle h3,
.track-card .subtitle h4 {
  margin-left: 10px;
}

.track-card .subtitle h4 {
  font-size: 0.8em;
  opacity: 0.8;
}

.track-card p {
  margin: 5px 0;
  opacity: 0.8;
}

.filter-bar {
  display: flex;
  margin-bottom: 1em;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.filter-bar .filter-button {
  margin: 5px;
  border-radius: 50%; /* Rounds the corners to make it circle shaped */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Prevents content overflowing from the circular buttons */
  width: 75px; /* Decreased the size a little bit for a better fit */
  height: 75px; /* Decreased the size a little bit for a better fit */
  background: linear-gradient(to right, #FF512F 0%, #DD2476  100%); /* Adds a gradient background */
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);  /* Adds a subtle shadow */
  transition: transform .3s; /* Adds a smooth transition for the hover effect */
  color: #FFF;
  text-decoration: none;
  line-height: 1.2;  /* Adjust the line height according to your taste */
  padding: 10px; /* Add some padding for the inner text to breathe */
  font-size: 0.7em; /* Decrease the font size according to the button size and text length */
  white-space: normal; /* Allows the text to wrap to the next line */
}

.filter-bar .filter-button:hover {
  transform: scale(1.1); /* Adds a scaling effect on hover */
  background: linear-gradient(to right, #dd2476, #ff512f); /* Reverses the gradient on hover */
}
