<div class="container">
  <nav class="filter-bar">
    <a *ngFor="let game of gameMap | keyvalue:orderUnchanged" (click)="filterTracks(game.key)">
      {{ game.value }}
    </a>
  </nav>
  <div class="track-list">
    <div *ngFor="let track of tracks" class="track-card">
      <img [src]="'assets/misc/mariokart/' + track.image" [class.mario-kart-64]="track.game === gameMap['n64']" [class.mario-kart-ds]="track.game === gameMap['ds']" alt="{{ track.name }} image">
      <h2>{{ track.name }}</h2>
      <h3>Game: {{ track.game }}</h3>
      <h4>Original Game: {{ track.originalgame }}</h4>
      <p>{{ track.description }}</p>
      <div>
        <p>Music: {{ track.music }}</p>
        <p>Vibes: {{ track.vibes }}</p>
        <p>Track: {{ track.track }}</p>
        <p>Ranking: {{ track.ranking }}</p>
      </div>
    </div>
  </div>
</div>
