<app-games></app-games>
<div class="container">
  <h1 class="text-center">Games Fraser Played in 2023</h1>
  <p class="lead text-center">Welcome to my list of games I played in 2023! This was the first time I took this list away from the horror website that is Twitter. The list is roughly in order of best to worst but don't read too much into that. I wrote some thoughts about the games as well, sometimes a lot, sometimes not much at all.</p>

  <div *ngFor="let game of games">
    <div class='game-review'>
      <h2>{{ game.name }} ({{ game.platform }})</h2>
      <p *ngIf="game.vibes && game.vibes.toString().trim() !== ''">
        <span class="vibes">Vibes:</span> {{ game.vibes }}/10
      </p>
      <p *ngIf="game.gameplay && game.gameplay.toString().trim() !== ''">
        <span class="gameplay">
          {{ game.gameplay.toString().endsWith('S') ? 'Story:' : 'Gameplay:' }}
        </span>
        {{ game.gameplay.toString().replace('S', '') }}/10
      </p>
      <div *ngFor="let paragraph of game.review">
        <p [innerHTML]="paragraph"></p>
      </div>
      <img [src]="'assets/games/' + game.image" alt="{{ game.name }}">
    </div>
  </div>
</div>
