.container {
  background-color: #c8e8fd;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid #8cbefd;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

h1 {
  color: #2a39c9;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
