<div class="container">
  <h1 class="text-center">Contact Page</h1>
  <p>Hello dear readers, have you seen something on this website and you want to get in contact? Well, I'm hoping this website doesn't really leave the bubble of my immediate friend circle, so you can just literally text me.</p>
  <p>But fine, if you're here and you have questions and for some reason you don't want to text me, you can have my email address. There's just one catch, you have to earn it by playing this game.</p>
  <app-contactgame></app-contactgame>

</div>
