<div class="video-gallery-container">
  <h1>My favourite videos</h1>
  <ul class="video-rows">
    @for (video of videos; track video; let i = $index) {
      <li class="video-row" [ngClass]="{'row-reverse': i % 2 !== 0}">
        <div class="video-container">
          <iframe [src]="video.embedUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="video-details">
          <h2>{{ video.title }}</h2>
          <p class="description">{{ video.description }}</p>
          <a [href]="video.link" target="_blank" rel="noopener noreferrer">Watch on YouTube</a>
        </div>
      </li>
    }
  </ul>
</div>
