<div class="game-container">
  <h1>Games I would like to play</h1>

  <p>
    Here is an up-to-date list of games that I really wanna play. Sadly I am way too busy to play all the games I want. So I will longingly put them here in this list, knowing full well that we live in a world with too many games and I will never get through them all.
  </p>

  <div class="game-section">
    <h2>Switch Games</h2>
    <ul class="game-list">
      @for (game of switchgames; track game) {
        <li class="game-title">
          {{ game }}
        </li>
      }
    </ul>
  </div>

  <div class="game-section">
    <h2>Playstation Games</h2>
    <ul class="game-list">
      @for (game of playstationgames; track game) {
        <li class="game-title">
          {{ game }}
        </li>
      }
    </ul>
  </div>

  <div class="game-section">
    <h2>PC Games</h2>
    <ul class="game-list">
      @for (game of pcgames; track game) {
        <li class="game-title">
          {{ game }}
        </li>
      }
    </ul>
  </div>
</div>
