<div *ngIf="selectedSoundtrack" class="modal">
  <div class="modal-content" appClickedOutside (clickedOutside)="close.emit()">
    <span class="close" (click)="close.emit()">&times;</span>
    <h2>{{ selectedSoundtrack.name }}</h2>
    <img [ngSrc]="'assets/music/nintendo/' + selectedSoundtrack.filename" [alt]="selectedSoundtrack.name" class="modal-image" width="600" height="600">
    <div class="platform-icon" [ngClass]="selectedSoundtrack.platform | lowercase">
      {{ selectedSoundtrack.platform }}
    </div>
    <p>{{ selectedSoundtrack.description }}</p>
    <h3>Top Tracks:</h3>
    <ul class="top-tracks">
      <li *ngFor="let track of selectedSoundtrack.topTracks" [style.background-color]="currentRandomColor">{{ track }}</li>
    </ul>
    <app-rating-bar [rating]="{id: selectedSoundtrack.id, ratings: selectedSoundtrack.rating}"></app-rating-bar>
  </div>
</div>
