<div class="container">
  <h1>{{title}}</h1>
  <ul>
    @for (book of books; track book) {
      <li class="card">
        <img [ngSrc]="imageService.imageUrl('/books/' + book.filename)" alt="{{ book.title }}" width="600" height="400">
        <div class="card-info">
          <h2>{{book.title}}</h2>
          <p>{{book.author}}</p>
          <p class="release">{{book.release}}</p>
          <p class="desc">{{book.description}}</p>
          <button (click)="book.showSpoiler = !book.showSpoiler" class="blue-button">
            {{book.showSpoiler ? 'Hide Spoiler Discussion' : 'Display Spoiler Discussion'}}
          </button>
          @if (book.showSpoiler) {
            <p class="desc">{{book.spoiler}}</p>
          }
          <div [ngStyle]="{'padding-bottom': '25px'}"></div>
          <app-rating-bar [rating]="{id: book.id, ratings: book.rating}"></app-rating-bar>
        </div>
      </li>
    }
  </ul>
</div>


