<div class="container">
  <h1>{{title}}</h1>
  <ul>
    @for (book of books.slice(0, itemsToShow); track book) {
      <li class="card">
        <img [ngSrc]="imageService.imageUrl('/books/' + book.filename)" alt="{{ book.title }}" width="600" height="400">
        <div class="card-info">
          <h2>{{book.title}}</h2>
          <p>{{book.author}}</p>
          <p class="release">{{book.release}}</p>
          <p class="desc">{{book.description}}</p>
          <app-spoiler-discussion [spoiler]="book.spoiler"></app-spoiler-discussion>
          <div [ngStyle]="{'padding-bottom': '25px'}"></div>
          <app-rating-bar [rating]="{id: book.id, ratings: book.rating}"></app-rating-bar>
        </div>
      </li>
    }
  </ul>
  <div #scrollAnchor class="scroll-anchor"></div>
</div>


