<div class="image-details">
  <h3>{{ photo.title }}</h3>
  <div class="image-container" (click)="openModal(photo)">
    <img [src]="'assets/gallery/' + photo.filename" [alt]="photo.title" class="gallery-image">
  </div>
  <div>
    <p>To unlock the anecdote behind this photo, please answer this question:</p>
    <p>{{ photo.question }}</p>
    <input [(ngModel)]="userAnswer" (keyup.enter)="checkAnswer(userAnswer)">
    <button (click)="checkAnswer(userAnswer)">Submit</button>
    <div *ngIf="showText">
      <p>{{ photo.description }}</p>
    </div>
  </div>
  <p class="date">{{ photo.month }}</p>
</div>

<div *ngIf="modalImage" class="modal" (click)="closeModal()">
  <img [src]="'assets/gallery/' + modalImage.filename" [alt]="modalImage.title" class="modal-image">
</div>
