.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #693d00;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: white;
  overflow: hidden;
}
