<div class="container">
  <h1>Stuff relating to Smash Bros</h1>
  <p>I organise Super Smash Bros Ultimate tournament in Berlin and I wanted to use this page to dump some stuff relating to this game and community.</p>
  <p>Here you can see all of the Top 8 pictures I made for all of the BREXIT SUMMIT tournaments that I hosted in my apartment between 2019 and 2022:</p>
  <button (click)="handleClick('/smash/brexitsummit')">BREXIT SUMMIT Top 8 Pictures</button>
  <h2>What does your main say about you?</h2>
  <app-characters></app-characters>
</div>

