<app-games></app-games>
<div class="container">
  <h1 class="text-center">Games Fraser Played in 2024</h1>
  <p class="lead text-center">Welcome to my list of games I played in 2024! I've now done this for five years, which means it's officially a tradition. I've even spruced up the website for it a bit. I hope you like it! Not mentioned on this list are Smash Ultimate and Slay the Spire, the two games that I still constantly play since years and years.</p>

  <div *ngFor="let game of games">
    <div class='game-review'>
      <h2>{{ game.name }} ({{ game.platform }})</h2>
      <p *ngIf="game.vibes && game.vibes.toString().trim() !== ''">
        <span class="vibes">Vibes:</span> {{ game.vibes }}/10
      </p>
      <p *ngIf="game.gameplay && game.gameplay.toString().trim() !== ''">
        <span class="gameplay">
          {{ game.gameplay.toString().endsWith('S') ? 'Story:' : 'Gameplay:' }}
        </span>
        {{ game.gameplay.toString().replace('S', '') }}/10
      </p>
      <div *ngFor="let paragraph of game.review">
        <p [innerHTML]="paragraph"></p>
      </div>
      <img [src]="'assets/games/' + game.image" alt="{{ game.name }}">
    </div>
  </div>
</div>
