.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #023000;
  border-radius: 8px;
  background: radial-gradient(circle, #a1d6ad, #caff9e);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

h1 {
  text-align: center;
  color: #333;
  width: 100%;
}

.soundtrack-card {
  width: calc(33.333% - 13.34px);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .soundtrack-card {
    width: calc(50% - 10px); /* Two cards per row on mobile */
  }
}

@media screen and (max-width: 480px) {
  .soundtrack-card {
    width: 100%; /* One card per row on very small screens */
  }
}


.soundtrack-card:hover {
  transform: scale(1.05);
}

.soundtrack-image-container {
  width: 100%;
  padding-top: calc(100%); /* This makes the image container square */
  position: relative;
  overflow: hidden;
}

.soundtrack-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the entire square */
  border-radius: 8px 8px 0 0; /* Keep bottom corners rounded */
}

.soundtrack-info {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
  border-radius: 0 0 8px 8px; /* Keep bottom corners rounded */
  flex-grow: 1;
}

.soundtrack-name {
  margin-bottom: 5px; /* Add a little space between name and date */
}

.soundtrack-platform {
  font-size: 0.8em; /* Make the date smaller */
  opacity: 0.8; /* Make the date slightly less prominent */
}

.center-image {
  display: flex;
  justify-content: center;}

.kk-image {
  max-height: 200px;
}

.sorting-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sorting-buttons button {
  padding: 10px 15px;
  background-color: #dfec97;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-anchor {
  height: 10px;
}

.sorting-buttons button:hover {
  transform: scale(1.1);
  background-color: #52aa0b; /* Brighter pink on hover */
}

.sorting-buttons button:active {
  transform: scale(0.9);
  background-color: #52aa0b; /* Original color on click */
}

@media screen and (max-width: 768px) {
  .sorting-buttons {
    flex-direction: column;
    align-items: center;
  }

  .sorting-buttons button {
    width: 100%;
    max-width: 300px;
  }
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  max-width: 300px;
  background-color: #ffffe3;
}

.search-container input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

