<div class="container">
  <h1>Concerts</h1>
  <p>I don't claim to be a music critic but I am a music lover and I love going to concerts! This is an attempted list of all the concerts I've been to but it will probably take some time before I remember all of them. Currently it's just the 2025 ones.</p>
  <p>I took most of the pictures. For a couple I had to search youtube videos and social media to find a snap from the event but sometimes that wasn't possible.</p>
  <p>Dear reader, have you ever been to any of these concerts? It would be a great conversation starter the next time we meet.</p>
  <ul class="concert-list">
    <li class="upcoming-card">
      <h2>Upcoming: Magdalena Bay</h2>
      <p>22-02-2026 Columbiahalle</p>
    </li>
    <li class="upcoming-card">
      <h2>Upcoming: Jens Lekman</h2>
      <p>08-03-2026 Gretchen</p>
    </li>
    <li class="upcoming-card">
      <h2>Upcoming: Silvana Estrada</h2>
      <p>10-05-2026 Heimathafen Neukölln</p>
    </li>
    <li class="upcoming-card">
      <h2>Upcoming: Aldous Harding</h2>
      <p>21-06-2026 Huxley's Neue Welt</p>
    </li>
  </ul>
  <ul class="concert-list">
    @for (concert of concerts.slice(0, itemsToShow); track concert) {
      <li class="concert-card">
        <h2>{{ concert.artist }}</h2>
        <p>
          <span class="bold">Date:</span> {{ concert.date }} |
          <span class="bold">Venue:</span> {{ concert.venue }}
        </p>
        <img
          [ngSrc]="imageService.imageUrl('/music/concerts/' + concert.image)"
          alt="{{ concert.artist }}"
          width="600"
          height="400"
          >
          <p [ngStyle]="{'padding-bottom': '15px'}">{{ concert.description }}</p>
          <app-rating-bar [rating]="{id: concert.id, ratings: concert.rating}" class="rating"></app-rating-bar>
        </li>
      }
    </ul>
    <div #scrollAnchor class="scroll-anchor"></div>
  </div>
