<app-games></app-games>
<div class="container">
  <h1 class="text-center">Games Fraser Played in 2025</h1>
  <p class="lead text-center">Here we go again! 2025 is still happening so this list is still growing. But this is where I am dumping now the games I played so far this year. At the end of the year I'll order them but for now you can enjoy these little game reviews.</p>

  <div *ngFor="let game of games">
    <div class='game-review'>
      <h2>{{ game.name }} ({{ game.platform }})</h2>
      <p *ngIf="game.vibes && game.vibes.toString().trim() !== ''">
        <span class="vibes">Vibes:</span> {{ game.vibes }}/10
      </p>
      <p *ngIf="game.gameplay && game.gameplay.toString().trim() !== ''">
        <span class="gameplay">
          {{ game.gameplay.toString().endsWith('S') ? 'Story:' : 'Gameplay:' }}
        </span>
        {{ game.gameplay.toString().replace('S', '') }}/10
      </p>
      <div *ngFor="let paragraph of game.review">
        <p [innerHTML]="paragraph"></p>
      </div>
      <img [src]="'assets/games/' + game.image" alt="{{ game.name }}">
    </div>
  </div>
</div>
