<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Games Fraser Played in 2025</title>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Games Fraser Played in 2025</h1>
  <p class="lead text-center">Here we go again! 2025 is still happening so this list is still growing. But this is where I am dumping now the games I played so far this year. At the end of the year I'll order them but for now you can enjoy these little game reviews.</p>

  <div class='game-review mt-4'>
    <h2>Metroid Prime Remastered (Switch)</h2>
    <p>Vibes: 10/10</p>
    <p>Gameplay: 10/10</p>
    <p>Decided to start off my year by replaying this absolute banger of a game. I really recommend this to anyone who hasn't played it. It's a timeless and wonderful game which really is more puzzle than action. Samus is a badass, and the vibes of the game are immaculate. She is totally alone on an alien planet and has to deal with a bunch of bullshit and take down this insane monster by herself, and she does it because she's fucking Samus. I really enjoyed reliving the soundtrack, and this time I particularly vibed with the music from
      <a target="_blank" href="https://www.youtube.com/watch?v=wNp-gXZ7hy4">
        <span style="color:rgb(17, 85, 204);">Phendrana Drifts Depths</span>
      </a>
    .</p>
    <p>This remake on the Switch is so fucking good. I'm not normally paying attention to performance and technical stuff, but I read that this game is kind of a miracle - it looks insanely good and also runs super smoothly at 60fps. The boys and girls at Retro Studios much be super experts at making video games, and the new Metroid Prime game is definitely gonna be so fucking good. I just need to know what they were working after they finished Donkey Kong Country. It's driving me crazy.</p>
    <p>I am still pissed about this one chozo artifact though. Had to look up the thing with the tower, super lame!</p>
    <img src='../../../assets/games/metroid-prime.webp' width='600'>
  </div>

  <div class='game-review mt-4'>
    <h2>Isles of Sea and Sky (PC)</h2>
    <p>Vibes: 9/10</p>
    <p>Gameplay: 9/10</p>
    <p>After I fell in love with Void Stranger last year and then found myself drawn to Block Koala no less when playing UFO 50, it finally hit me that I fucking love block puzzle games! Like puzzle games in general are totally my shit and specifically these sukopan-style games slap so hard.</p>
    <p>This one is special because there is a whole world full of puzzles that you can walk around freely. If a puzzle is too difficult, you can just find something else to do and come back to it. This is great most of the time, but this game does have power ups which make certain puzzles possible, and sometimes when I'm tackling a tough puzzle I doubt myself whether I'm just too dumb to solve it, or if I actually need to collect a power-up from somewhere else first. It's led to a couple of moments of frustration, but it's totally forgivable given how good the puzzles are.</p>
    <p>Soundtrack is fab as well!</p>
    <img src='../../../assets/games/isles.webp' width='600'>
  </div>

  <div class='game-review mt-4'>
    <h2>Case of the Golden Idol (Switch)</h2>
    <p>Vibes: 9/10</p>
    <p>Gameplay: 9/10</p>
    <p>This is a detective game! You have a short moment in time and you have to collect all the evidence and then fill in the gaps in the story, Obra Dinn style. It's so good!</p>
    <p>There is a bunch of these scenes and you get to see this wild overriding story over the course of many years. Great vibes and really fun to finally get the answer.</p>
    <img src='../../../assets/games/golden-idol.avif' width='600'>
  </div>

  <div class='game-review mt-4'>
    <h2>CLICKOLDING (PC)</h2>
    <p>Vibes: 9/10</p>
    <p>Gameplay: 3/10</p>
    <p>This game is terrifying in a way I have never experienced before. This game is a sex thing. I straight up don't recommend it, unless you're interested in real weird shit. I really liked it though I won't lie. I definitely can't stop thinking about it.</p>
    <img src='../../../assets/games/clickolding.webp' width='600'>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
