<div class="container">
  <h1 class="heading">Soundtrack of the Day - Archive</h1>
  <div class="overlay"></div>
  <div class="button-rows">
    <div class="row-1">
      <div class="calendar-container">
        <button (click)="toggleCalendar()" class="filter-button calendar-button" [ngClass]="{ 'active': selectedMonth !== null }">
          {{ selectedMonth ? selectedMonth : 'Filter by month' }}
        </button>
        @if (isCalendarOpen) {
          <div class="dropdown-menu">
            <button (click)="selectMonth(null)" class="option" [class.active]="selectedMonth === null">All Months</button>
            @for (month of availableMonths; track month) {
              <button (click)="selectMonth(month)" class="option" [class.active]="selectedMonth === month">{{ month }}</button>
            }
          </div>
        }
      </div>

      <div class="filter-container">
        <button (click)="toggleFilterDropdown()" class="filter-button dropdown-button" [ngClass]="{ 'active': currentFilter !== '' && currentFilter !== 'Show me it all!' }">
          {{ currentFilter ? currentFilter : "Filter video game music"}}
        </button>
        @if (isFilterDropdownOpen) {
          <div class="dropdown-menu">
            @for (filter of filters; track filter) {
              <button (click)="filterDailySoundtracks(filter)" class="option" [ngClass]="{ 'active': filter === currentFilter }">
                {{ filter }}
              </button>
            }
          </div>
        }
      </div>

      <div class="tag-container">
        <button (click)="toggleTagDropdown()" class="filter-button dropdown-button" [ngClass]="{ 'active': selectedTag !== null }">
          {{ selectedTag ? (selectedTag | titlecase ) : 'Filter by vibe' }}
        </button>
        @if (isTagDropdownOpen) {
          <div class="dropdown-menu">
            <button (click)="selectTag(null)" class="option" [class.active]="selectedTag === null">All Tags</button>
            @for (tag of tags; track tag) {
              <button (click)="selectTag(tag)" class="option" [class.active]="selectedTag === tag">{{ tag | titlecase }}</button>
            }
          </div>
        }
      </div>

      @if (currentFilter === 'Gimme that sweet video game music!') {
        <div class="franchise-container">
          <button (click)="toggleFranchiseDropdown()" class="filter-button dropdown-button" [ngClass]="{ 'active': selectedFranchise !== null }">
            {{ selectedFranchise ? (selectedFranchise | titlecase) : 'Filter by franchise' }}
          </button>
          @if (isFranchiseDropdownOpen) {
            <div class="dropdown-menu">
              <button (click)="selectFranchise(null)" class="option" [class.active]="selectedFranchise === null">All Franchises</button>
              @for (franchise of franchises; track franchise) {
                <button (click)="selectFranchise(franchise)" class="option" [class.active]="selectedFranchise === franchise">{{ franchise | titlecase }}</button>
              }
            </div>
          }
        </div>
      }

      @if (currentFilter === 'I don\'t care about video game music!') {
        <div class="genre-container">
          <button (click)="toggleGenreDropdown()" class="filter-button dropdown-button" [ngClass]="{ 'active': selectedGenre !== null }">
            {{ selectedGenre ? (selectedGenre | titlecase) : 'Filter by genre' }}
          </button>
          @if (isGenreDropdownOpen) {
            <div class="dropdown-menu">
              <button (click)="selectGenre(null)" class="option" [class.active]="selectedGenre === null">All Genres</button>
              @for (genre of genres; track genre) {
                <button (click)="selectGenre(genre)" class="option" [class.active]="selectedGenre === genre">{{ genre | titlecase }}</button>
              }
            </div>
          }
        </div>
      }
    </div>

    <div class="row-2">
      <button (click)="randomize()" class="filter-button" [ngClass]="{ 'active': isRandomSort }">Randomize</button>
      <button (click)="chronological()" class="filter-button" [ngClass]="{ 'active': !isRandomSort }">Chronological</button>
    </div>

    <div class="row-3">
      <button (click)="playAll()" class="filter-button" [disabled]="playlist.length === 0">Start Playlist</button>
    </div>
  </div>
  @if (currentTrack) {
    <div class="global-player">
      <div class="current-track-info">
        @if (!currentTrack.game) {
          <span>Now Playing: {{currentTrack.artist}} - {{currentTrack.track}}</span>
        }
        @if (currentTrack.game) {
          <span>Now Playing: {{currentTrack.album}} - {{currentTrack.track}}</span>
        }
      </div>
      <div class="player-controls">
        <button (click)="previousTrack()" class="nav-button" [disabled]="playlist.indexOf(currentTrack) === 0">⏮</button>
        <audio controls autoplay [src]="imageService.imageUrl(audioPath + currentTrack.filename)" (ended)="onTrackEnded()">
          Normally there is an audio player here but mate your browser can't handle it
        </audio>
        <button (click)="nextTrack()" class="nav-button" [disabled]="playlist.indexOf(currentTrack) === playlist.length - 1">⏭</button>
      </div>
    </div>
  }
  @for (group of groupedDailySoundtracks; track group.month) {
    @if (!isRandomSort) {
      <h3 class="month-heading">{{ group.month }}</h3>
    }
    <ul>
      @for (track of group.tracks; track track.id) {
        <li class="list-item">
          <div>
            @if (!track.game) {
              <h2 class="h2">{{track.artist}} - {{track.track}}</h2>
            }
            @if (track.game) {
              <h2 class="h2">{{track.album}} - {{track.track}}</h2>
            }
            @if (!track.game) {
              <p class="p"><strong>Album:</strong> {{track.album}}</p>
            }
            @if (track.game) {
              <p class="p"><strong>Composer:</strong> {{track.artist}}</p>
            }
            <p class="p">{{track.description}}</p>
            <div class="player-link-container">
              @if (track.filename) {
                <div class="mini-audio-player">
                  <audio controls [src]="imageService.imageUrl(audioPath + track.filename)">
                    Normally there is an audio player here but mate your browser can't handle it
                  </audio>
                </div>
                <button (click)="playTrack(track)" class="play-button" title="Start Playlist from here">▶</button>
              }
              <a class="a" [href]="track.link">Listen on YouTube</a>
            </div>
            <app-rating-bar [rating]="{id: track.id, ratings: track.rating}"></app-rating-bar>
          </div>
          <div class="date">
            {{track.day}}
          </div>
        </li>
      }
    </ul>
  }
  <div class="gif" (click)="toggleFuture()">
    <img [src]="imageService.imageUrl('/homepage/daily.gif')">
  </div>
</div>
