.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #023000;
  background: transparent;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../../assets/backgrounds/silver-background.jpg') repeat;
  opacity: 0.1;
  z-index: 1;
  pointer-events: none;
}

.list-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #999;
  position: relative;
}

.mini-audio-player {
  margin: 10px 0;
  max-width: 300px;
}

.mini-audio-player audio {
  height: 30px;
  width: 100%;
}

.date {
  font-weight: bold;
  color: #333;
  font-size: 0.9em;
}

.h2 {
  margin: 0;
  font-size: 1.4em;
}

.p, .a {
  margin: 0;
  font-size: 0.8em;
}

app-rating-bar {
  display: block;
  padding-top: 20px;
  padding-bottom: 5px;
}

.filter-grid {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filter-button {
  background: #bd10c8;
  color: #edd9f1;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.2s ease-in-out;
}

.filter-button:hover {
  background: #61025a;
  transform: scale(1.1);
}

.filter-button.active {
  background: #ea31a0;
}
