<div class="container">
  <h1>Newsletter</h1>
  <p>Welcome to my newsletter! I started making this website at the start of 2025 and I've enjoyed growing it to where it is today. At the time of writing, many friends have asked me for a newsletter, because they can't keep up with all the new things I'm putting on here.</p>
  <p>I get it! So to make things easier for you guys, I've prepared a newsletter which features all the new content from the website whenever I update it. It's available as an RSS feed and here is a link.</p>
  <h3>How do I subscribe to an RSS feed?</h3>
  <p>An RSS feed is an old internet kind of thing. I'll post any changes to the feed and anyone who is listening will get a notification. I can recommend the app 'Feedly', which allows you to put in this RSS link and will give you a little notification if I publish something.</p>
  <h3>What's going into the newsletter?</h3>
  <p>I will aggregate all the new content, so I'm talking films, games, books etc, from the last time I sent a newsletter and put it in the post. I'll also give a short life update for your enjoyment as well. Maybe I'll have some other thoughts about life to share.</p>
  <h2>Past Newsletters</h2>
</div>
