.game-review {
  background-color: #fcfbb3;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.game-review h2 {
  color: #472400;
  font-size: 1.8em;
  margin-bottom: 15px;
  border-bottom: 2px solid #472400;
  padding-bottom: 10px;
}

.game-review p {
  color: #333333;
  line-height: 1.5;
  margin-bottom: 10px;
}

.game-review img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vibes, .gameplay, .release-info {
  font-weight: bold;
  color: #e74c3c;
}

.game-review img.completed {
  float: right;
  margin-bottom: 5px;
  margin: 0;
  max-width: none;
  height: 60px;
  width: 60px;
  border-radius: 0;
  box-shadow: none;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.summary-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
