<div class='game-review'>
  <h2>{{ game.name }} ({{ game.platform }})</h2>
  <div class="summary">
    <div class="text-summary">
      <p>
        <span class="vibes">Vibes:</span> {{ game.vibes }}/10 |
        <span class="gameplay">
      {{ game.story == true ? 'Story:' : 'Gameplay:' }}
    </span>
        {{ game.gameplay }}/10
      </p>
      <p>
        <span class="release-info">Released:</span> {{ game.release }} |
        <span class="release-info">Played:</span> {{ game.year === 'older' ? 'before 2020' : game.year }}
      </p>
    </div>
    <img
      *ngIf="game.completed"
      class="completed"
      [ngSrc]="'assets/games/' + (game.completable === false ? 'completed2.png' : 'completed.png')"
      alt="completed"
      [title]="game.completable === false ? 'As far as this game can actually be completed' : 'I beat the game!'"
      width="50"
      height="50"
    />
  </div>
  <div *ngFor="let paragraph of game.review">
    <p [innerHTML]="paragraph"></p>
  </div>
  <img [ngSrc]="'assets/games/' + game.image" alt="{{ game.name }}" width="600" height="400">
  <div [ngStyle]="{'padding-bottom': '10px'}"></div>
  <app-rating-bar [rating]="{id: game.id, ratings: game.rating}"></app-rating-bar>
</div>
