<div class='game-review'>
  <h2>{{ game.name }} ({{ game.platform }})</h2>
  <div class="summary">
    <div class="summary-text">
      <p>
        <span class="vibes">Vibes:</span> {{ game.vibes }}/10 |
        <span class="gameplay">
      {{ game.story ? 'Story:' : 'Gameplay:' }}
    </span>
        {{ game.gameplay }}/10
      </p>
      <p>
        <span class="release-info">Released:</span> {{ game.release }} |
        <span class="release-info">Played:</span> {{ game.year === 'older' ? 'before 2020' : game.year }}
      </p>
    </div>
    <img
      *ngIf="game.completed"
      class="completed"
      [ngSrc]="imageService.imageUrl('/games/' + (!game.completable ? 'completed2.png' : 'completed.png'))"
      alt="completed"
      [title]="!game.completable ? 'As far as this game can actually be completed' : 'I beat the game!'"
      width="50"
      height="50"
    />
  </div>
  <app-read-more [paragraphs]="game.review"></app-read-more>
  <img [ngSrc]="imageService.imageUrl('/games/' + game.image)" alt="{{ game.name }}" width="600" height="400">
  <app-friend-rating [currentId]="game.id"></app-friend-rating>
  <div [ngStyle]="{'padding-bottom': '10px'}"></div>
  <app-rating-bar [rating]="{id: game.id, ratings: game.rating}"></app-rating-bar>
</div>
