<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <div class="calendar-container">
    <ul class="calendar-grid">
      @for (filter of filters; track filter) {
        <li>
          <button (click)="sortGames(filter)" class="filter-button" [ngClass]="{ 'active': filter === currentFilter }">
            <span>{{ filter }}</span>
          </button>
        </li>
      }
    </ul>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search games...">
    </div>
  </div>
  @if (isPlatformSelected) {
    <div class="calendar-container-mini">
      <ul class="calendar-grid-mini">
        @for (platform of platformOrder; track platform) {
          <li>
            <button (click)="sortGames(platform)" class="filter-button-mini" [ngClass]="{ 'active': platform === currentFilter }">
              <span>{{ platform }}</span>
            </button>
          </li>
        }
      </ul>
    </div>
  }
  @for (game of filteredGames.slice(0, itemsToShow); track game) {
    <div>
      <app-game [game]="game"></app-game>
    </div>
  }
  <div #scrollAnchor class="scroll-anchor"></div>
</div>
