<div class="container">
  <h1>Guestbook</h1>
  <p>Are you enjoying browsing the website? Feel free to leave a message for everyone to see here.</p>
  <p>WARNING! I have implemented absolutely no security for this endpoint so please do not do anything dumb. Your input will immediately be displayed on the site for everyone to see, so there is an element of trust at play here. If one of you bitches dares hacking the database or somehow ruining the experience for others I will publicly flame you on this website so be warned</p>
</div>
