
<div class="container">
  <h1>Guestbook</h1>
  <p>Are you enjoying browsing the website? Feel free to leave a message for everyone to see here. You can write whatever you like, a message to your lover, an advert for your business, some feedback for the website. The possibilities are endless!</p>
  <div class="gif">
    <img src="../../../assets/guestbook/guestbook.gif" margin="5px">
  </div>
  <div class="warning-banner">
    <p><strong>WARNING!</strong> Your comment will immediately be displayed on the site for everyone to see, so don't do anything dumb! And if one of you bitches dares hacking the database or somehow ruining the experience for others I will publicly flame you on this website so be warned</p>
  </div>
  <div class="feedback-form">
    <h3>Submit your contribution!</h3>
    <form (ngSubmit)="submitFeedback()">
      <div>
        <label for="comment">Comment:</label>
        <textarea id="comment" [(ngModel)]="newFeedback.comment" name="comment" required></textarea>
      </div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="newFeedback.name" name="name" required>
      </div>
      <div class="color-selection">
        <label for="color">What's your favourite colour?</label>
        <input type="text" id="color" [(ngModel)]="newFeedback.color" name="color" placeholder="#ffffff">
        <div class="color-buttons">
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#ffffff'" (click)="selectColor('#ffffff')" style="background-color: #ffffff;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#3498db'" (click)="selectColor('#3498db')" style="background-color: #3498db;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#e74c3c'" (click)="selectColor('#e74c3c')" style="background-color: #e74c3c;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#00632a'" (click)="selectColor('#00632a')" style="background-color: #00632a;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#f54ee7'" (click)="selectColor('#f54ee7')" style="background-color: #f54ee7;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#b51016'" (click)="selectColor('#b51016')" style="background-color: #b51016;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#f1c40f'" (click)="selectColor('#f1c40f')" style="background-color: #f1c40f;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#16a085'" (click)="selectColor('#16a085')" style="background-color: #16a085;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#0e37c9'" (click)="selectColor('#0e37c9')" style="background-color: #0e37c9;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#8e44ad'" (click)="selectColor('#8e44ad')" style="background-color: #8e44ad;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#2c3e50'" (click)="selectColor('#2c3e50')" style="background-color: #2c3e50;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#95a5a6'" (click)="selectColor('#95a5a6')" style="background-color: #95a5a6;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#4CAF50'" (click)="selectColor('#4CAF50')" style="background-color: #4CAF50;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#ff5500'" (click)="selectColor('#ff5500')" style="background-color: #ff5500;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#03A9F4'" (click)="selectColor('#03A9F4')" style="background-color: #03A9F4;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#8BC34A'" (click)="selectColor('#8BC34A')" style="background-color: #8BC34A;"></button>
          <button type="button" class="color-button" [class.selected]="newFeedback.color === '#57290a'" (click)="selectColor('#57290a')" style="background-color: #57290a;"></button>
        </div>
      </div>

      <button type="submit">Submit Feedback</button>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  <div class="feedback-list">
    <div *ngFor="let feedback of feedbacks" class="feedback-item" [style.background-color]="feedback.color" [style.color]="textColor(feedback.color)">
      <p><strong>{{ feedback.name }}</strong> - {{ feedback.timestamp | date:'shortDate' }}</p>
      <p>{{ feedback.comment }}</p>
    </div>
  </div>
</div>
