
<div class="container">
  <h1>Guestbook</h1>
  <p>Are you enjoying browsing the website? Feel free to leave a message for everyone to see here. You can write whatever you like, a message to your lover, an advert for your business, some feedback for the website. The possibilities are endless!</p>
  <div class="gif">
    <img [src]="imageService.imageUrl('/guestbook/guestbook.gif')" margin="5px" alt="gif with a man writing in a 'gaestbook'">
  </div>
  <div class="warning-banner">
    <p><strong>WARNING!</strong> Your comment will immediately be displayed on the site for everyone to see, so don't do anything dumb!</p>
  </div>
  <div class="feedback-form">
    <h2>Submit your contribution!</h2>
    <form (ngSubmit)="submitFeedback()">
      <div>
        <label for="comment">Comment:</label>
        <textarea id="comment" [(ngModel)]="newFeedback.comment" name="comment" required></textarea>
      </div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="newFeedback.name" name="name" required>
      </div>
      <app-color-picker [color]="newFeedback.color" (colorChange)="newFeedback.color = $event"></app-color-picker>
      <button type="submit">Submit Feedback</button>
      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }
    </form>
  </div>
  <ul class="feedback-list">
    @for (feedback of feedbacks.slice(0, itemsToShow); track feedback) {
      <li class="feedback-item" [style.background-color]="feedback.color" [style.color]="textColor(feedback.color)">
        <p><strong>{{ feedback.name }}</strong> - {{ feedback.timestamp | date:'dd-MM-yyyy' }}</p>
        <p>{{ feedback.comment }}</p>
      </li>
    }
  </ul>
  <div #scrollAnchor class="scroll-anchor"></div>
</div>
