.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  background: linear-gradient(45deg, #006e8f, #002678);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #FFF;
  border: 3px solid #80a8ff;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stitch-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.stitch-card {
  margin: 1em;
  padding: 1em;
  background-color: #001647;
  border: 3px solid #80a8ff;
  border-radius: 5px;
  min-width: 200px;
  color: #80a8ff;
  transition: transform 0.3s;
}

.stitch-card:hover {
  transform: scale(1.05);
}

.stitch-card img {
  width: 100%;
  height: auto;
}

.stitch-card p {
  margin: 5px 0;
  opacity: 0.8;
}

.stitch-card img {
  border: 3px solid #80a8ff;
}

.rating {
  padding-top: 15px;
}
