<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <div class="calendar-container">
    <ul class="calendar-grid">
      <li *ngFor="let filter of filters">
        <button (click)="sortFilms(filter)" class="filter-button">
          <span>{{ filter }}</span>
        </button>
      </li>
    </ul>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search films...">
    </div>
  </div>
  <ul>
    <li *ngFor="let film of filteredFilms">
      <app-film [film]="film"></app-film>
    </li>
  </ul>
</div>
