.container {
  background-color: #ff857a;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid #8f000a;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  color: #360000;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.lead {
  color: #34495e;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
}

.calendar-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #ff6045, #c40038);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.calendar-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.calendar-grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-button {
  background: #ffabae;
  border: 3px solid #8f000a;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.filter-button:hover {
  background: #b81c21;
  border-color: #ffabae;
  transform: scale(1.1);
}

.search-container {
  margin-top: 10px;
  justify-content: center;
  display: flex;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: 3px solid #8f000a;
  border-radius: 8px;
  max-width: 300px;
  background-color: #ffabae;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-container input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
