<div class="calendar-container">
  <div class="calendar-grid">
    <button *ngFor="let filter of filters" (click)="sortFilms(filter)" class="filter-button">
      <span>{{ filter }}</span>
    </button>
  </div>
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search films...">
  </div>
</div>

<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <div *ngFor="let film of filteredFilms">
    <div class='film-review mt-4'>
      <h2>{{ film.title }}</h2>
      <p>{{ film.description }}</p>
      <img [src]="'assets/films/' + film.filename">
    </div>
  </div>
</div>
