<app-games></app-games>
<div class="container">
  <h1 class="text-center">Games Fraser Played in 2020</h1>
  <p class="lead text-center">Welcome to my list of games I played in 2020! This is the first one I ever did back on Twitter. Looking back on this in 2024 is funny because I didn't understand how much Slay the Spire would fucking take over my life over the next years.</p>

  <div *ngFor="let game of games">
    <div class='game-review'>
      <h2>{{ game.name }} ({{ game.platform }})</h2>
      <p *ngIf="game.vibes && game.vibes.toString().trim() !== ''">
        <span class="vibes">Vibes:</span> {{ game.vibes }}/10
      </p>
      <p *ngIf="game.gameplay && game.gameplay.toString().trim() !== ''">
        <span class="gameplay">
          {{ game.gameplay.toString().endsWith('S') ? 'Story:' : 'Gameplay:' }}
        </span>
        {{ game.gameplay.toString().replace('S', '') }}/10
      </p>
      <div *ngFor="let paragraph of game.review">
        <p [innerHTML]="paragraph"></p>
      </div>
      <img [src]="'assets/games/' + game.image" alt="{{ game.name }}">
    </div>
  </div>
</div>
