<div class="container">
  <h1>Community</h1>
  <p>Worldpeace.services is more than a website, it's a community. I'm so proud to present some content from members of the community for your consumption!</p>
  <div class="gif">
    <img src="../../../assets/homepage/fire.gif" alt="sick gif of some fire">
  </div>
  <div class="link">
    <h2>D Kicker</h2>
    <p>My friends Marta and Víctor have made a table football where instead of normal football players, you play with little penises! It's a lot of fun and very cute. It was created with a question in mind: what's going on with masculinity these days? Why do we want to compare ourselves all the time?</p>
    <p>You can learn more about D Kicker on their <a href="https://www.instagram.com/d.kicker.cm/">instagram</a></p>
    <div class="image">
      <img ngSrc="../../../assets/community/d-kicker2.jpeg" alt="Beautiful D Kicker table" width="300" height="300">
    </div>
    <div class="image">
      <img ngSrc="../../../assets/community/d-kicker.PNG" alt="Close up for the beautiful table" width="300" height="300">
    </div>
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/fire.gif" alt="sick gif of some fire">
  </div>
  <div class="link">
    <h2>Anni's Durstlöscher Reviews</h2>
    <p>Anni is the local expert on popular juice brand 'Durstlöscher' and kindly offers her insight and opinion on all the flavours. Please click this Durstlöscher to learn more:</p>
    <button style="background: none; border: none;" aria-label="Anni's Durstlöscher Reviews" routerLink="/community/durstloescher">
      <img alt="Durstlöscher" ngSrc="../../../assets/community/dursti-wursti.gif" width="300" height="300">
    </button>
  </div>
  <div class="gif">
    <img src="../../../assets/homepage/fire.gif">
  </div>
  <div class="link">
    <h2>Game of Life</h2>
    <p>Fab made this game! It's a vibe.</p>
    <button style="background: none; border: none;" aria-label="Game of Life" routerLink="/community/game-of-life">
      <img alt="Game of Life" ngSrc="../../../assets/community/game-of-life/screenshot-fraser.PNG" width="400" height="300">
    </button>
  </div>
</div>
