<div class="container">
  <h1>Changelog</h1>
  <p>Here you can see a timeline of updates to this website! I often make small updates, for example when a new Nintendo soundtrack comes out or if I went to see a new film. For those I just say something like 'content update'. You'll also find when I make new features and major updates. Originally I was gonna set up an RSS feed to deliver updates that way, but I decided that was too much work so if you wanna see what new stuff I've made, this page will have to do!</p>
  <app-changelog></app-changelog>
  <p>Would you like to host this website yourself? You can! It's available on github: <a href="https://github.com/fraserisverycool/frasers-website">https://github.com/fraserisverycool/frasers-website</a></p>
</div>
