<div class="container">
  <h1>Spotify playlists</h1>
  <p>If you know me you know I love listening to music and I happen to have hundreds of playlists of Spotify. I've been on the platform since like 2008 or something ridiculous. Here are some of my best playlists that you can enjoy!</p>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>Víctor prepared an amazing playlist of all the songs from Spain that he has loved in his lifetime. I decided to reciprocate with this 14-hour mammoth of a playlist which takes you through all the ages of British music history. It's not necessarily all the classics but rather all the songs that I had a connection with</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/3Ej9rb5mZ0UP2QA6aUlHuI?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>I wasn't satisfied with Spotify Wrapped so I made my own</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/6ypAJfcMonqUVblxvvrOPK?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>I put some thought into this upbeat vibes playlist in Summer 2024</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/3Ej8ZgN4JrNgadqQni3rHc?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>This playlist is always there for you whenever you need it</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/31fcEOt7K86guO2JZsusRJ?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>I made this for one of those covid-era outdoor silent discos but I never actually organised one</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/1Y2eLIaqXE4gQXkGHTP0NQ?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>Speaks for itself</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/72mZVJ7zcHTtqxzOByRVaA?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>An old playlist from 2014</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/3sS2pt4DUl8W5pW6nXhCRW?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>Sunday morning appropriate</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/6l8ZltomAnb2YSJhW9l5lk?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div class="flex-item">
    <app-divider [height]="20"></app-divider>
  </div>
  <p>A collection of video game music that isn't Nintendo so is actually available on a normal streaming app</p>
  <iframe style="border-radius:12px" title="Spotify embedded player" src="https://open.spotify.com/embed/playlist/6ackxYnqlnKCWOcO2Qiy6Z?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
