.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #023000;
  border-radius: 8px;
  background: radial-gradient(circle, #a1d6ad, #caff9e);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  width: 100%;
}
