<div class="container">
  <h1>DJ World Peace presents Party 4 World Peace</h1>
  <div class="gif-box">
    <div class="gif">
      <img src="../../../assets/homepage/discoball.gif" alt="Disco GIF">
    </div>
    <div class="gif">
      <img src="../../../assets/homepage/discoball.gif" alt="Disco GIF">
    </div>
    <div class="gif">
      <img src="../../../assets/homepage/discoball.gif" alt="Disco GIF">
    </div>
    <div class="gif">
      <img src="../../../assets/homepage/discoball.gif" alt="Disco GIF">
    </div>
    <div class="gif">
      <img src="../../../assets/homepage/discoball.gif" alt="Disco GIF">
    </div>
  </div>
  <div class="leaflet">
    <img ngSrc="../../../assets/homepage/party/worldpeace_small.jpeg" alt="Party Leaflet" width="600" height="900">
  </div>

  <p>You are invited to my birthday party on the 10th May 2025! It will take place at Mauersegler in Prenzlauer Berg. It's totally free, although I would appreciate it if you bought a drink or two at the bar!</p>

  <h3>It starts at 9pm!</h3>

  <div class="gif">
    <img src="../../../assets/homepage/dancing.gif" alt="Disco GIF">
  </div>

  <p>There are two themes: Disco and World Peace. You are free to interpret these however you like! I'm going for 'beauty pageant'. Here are some keywords to get those fashion juices flowing...</p>

  <div class="keywords">
    <span>Colours</span>
    <span>Lights</span>
    <span>Flared Trousers</span>
    <span>Hippies</span>
    <span>Peace Symbols</span>
    <span>Glitter</span>
    <span>Tie-Dye</span>
    <span>Psychedelics</span>
    <span>Big Collars</span>
    <span>Shoulder Pads</span>
    <span>John Travolta</span>
    <span>Crop Tops</span>
    <span>Rainbows</span>
    <span>Sequins</span>
  </div>

  <p>If the themes are too much, it's all good just come and enjoy the good vibes!!</p>

  <div class="gif">
    <img src="../../../assets/homepage/dots.gif" alt="Disco GIF">
  </div>

  <p>The vibes will be supplied by WEYES! These DJs will accompany you through the night. There will be some disco and there will also be a bunch of other music styles because at WEYES we are all about a vibe switch!</p>

  <div class="djs">
    <div class="dj">DJ Total</div>
    <div class="dj">BART/ENDER</div>
    <div class="dj">DJ World Peace</div>
    <div class="dj">FILTHY DOG</div>
    <div class="dj">DJ Chrząszcz</div>
    <div class="dj">holiiiiiii</div>
  </div>

  <div class="gif">
    <img src="../../../assets/homepage/dj.gif" alt="Disco GIF">
  </div>

  <h3>How do I get to the party?</h3>

  <p>Google Maps may point you to the wrong door! You need to go behind like shown in these pictures:</p>

  <div class="pics-container">
    <div class="pic">
      <img placeholder src="../../../assets/homepage/party/entry1.jpg" alt="entry">
    </div>
    <div class="pic">
      <img placeholder src="../../../assets/homepage/party/entry2.jpg" alt="entry">
    </div>
    <div class="pic">
      <img placeholder src="../../../assets/homepage/party/entry3.jpg" alt="entry">
    </div>
  </div>

  <h1>Can't wait to party with you!!</h1>

</div>
