.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
  border: 2px solid #4d3c00;
  background: radial-gradient(circle, #fceebb, #dbb630);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.gif {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.gif-box {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.leaflet {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  max-width: 100%; /* Ensures the container doesn't exceed the parent's width */
  height: auto; /* Allows the container to adjust its height based on content */
  width: 100%; /* Make the container full-width for better responsiveness */
}

.leaflet img {
  max-width: 100%; /* Ensures the image doesn't exceed the container's width */
  height: auto; /* Maintains the aspect ratio of the image */
  margin: auto; /* Optional, but can help with centering if needed */
}

.pics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pic {
  margin: 10px;
}

.pic img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.pic-small img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.keywords span {
  background-color: #db6e00;
  color: #000;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  font-weight: bold;
  font-size: larger;
}

@keyframes flash-animation {
   from { background-color: #ffcc00; }
   to { background-color: #ff6699; } /* Pink */
}

.djs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.dj {
  background: linear-gradient(45deg, #ff6699, #66ccff);
  color: white;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: larger;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  margin: 5px;
}

@keyframes bubble-flash {
   from { transform: scale(1); background: linear-gradient(45deg, #ff6699, #66ccff); }
   to { transform: scale(1.1); background: linear-gradient(45deg, #66ccff, #ff6699); }
}

p {
  font-weight: bold;
  font-size: 18px;
}

h2 {
  text-align: center
}
