<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Films Fraser Watched in 2024</title>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Films Fraser Watched in 2024</h1>
  <p class="lead text-center">I don't claim to be a film critic so I haven't written out long-ass reviews for these films. It's more of a record of what I watched and a vague indication of enjoyment. I love films though so come talk to me about any of these.</p>

  <div class='film-review mt-4'>
    <h2>Oppenheimer</h2>
    <p>What a snooze fest. This film is for people who think they're smart. They all speak too quickly and it's too long.</p>
    <img src='../../../assets/films/oppenheimer.avif' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>All of Us Strangers</h2>
    <p>Loved this film so much. A gay man's hot new relationship with Paul Mescal and his old relationship with his suspiciously young parents. Love love love </p>
    <img src='../../../assets/films/all-of-us-strangers.webp' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Miller's Girl</h2>
    <p>Bad film about an older guy and how he fancies a minor. So icky and horrible</p>
    <img src='../../../assets/films/millers.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Wikiriders</h2>
    <p>Arty film about looking for rich guys in Mexico. The film feels unfinished because they apparently met him but couldn't show it for some reason</p>
    <img src='../../../assets/films/wikiriders.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>All Shall be Well</h2>
    <p>Stunning film about older lesbians in Hong Kong. I cried and cried</p>
    <img src='../../../assets/films/all-shall.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>La Huella de unos Labios</h2>
    <p>Sexy Mexican film about an alternative covid pandemic reality. Interesting but also pretty random</p>
    <img src='../../../assets/films/huellos.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Anatomy of a Fall</h2>
    <p>Thrilling, gripping film about a murder trial in France. Insane</p>
    <img src='../../../assets/films/anatomy.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>The Human Voice</h2>
    <p>Short film with Tilda Swinton being dramatic on the phone. It's so good</p>
    <img src='../../../assets/films/human-voice.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>A Strange Way of Life</h2>
    <p>Short film about gay cowboys. Pedro Pascal's in it and it's fucking great</p>
    <img src='../../../assets/films/strange-way.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Love is the Devil</h2>
    <p>Film about Francis Bacon, hated it and hate him</p>
    <img src='../../../assets/films/love-is-the-devil.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Liuben</h2>
    <p>A sad gay film about Roma people in Bulgaria. Eye opening</p>
    <img src='../../../assets/films/liuben.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Le Paradis</h2>
    <p>Pretty boring gay film about a youth detention centre in France. One cool part where he freestyle rapped but even that felt out of place</p>
    <img src='../../../assets/films/paradis.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Like it is</h2>
    <p>Interesting older gay film with some brutal scenes. Pretty forgettable</p>
    <img src='../../../assets/films/like-it-is.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Challengers</h2>
    <p>Very sexually charged film about tennis. I found it a bit cringe but it had its moments</p>
    <img src='../../../assets/films/challengers.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>The Women</h2>
    <p>Old film about women fawning around, it was pretty entertaining</p>
    <img src='../../../assets/films/women.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>The Wedding Banquet</h2>
    <p>Hilarious, wild film about a man in a gay relationship marrying a woman for a green card</p>
    <img src='../../../assets/films/wedding-banquet.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Lose Your Head</h2>
    <p>Set in Berlin! Wasn't too bad. About gays and murder</p>
    <img src='../../../assets/films/lose-your-head.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Problemista</h2>
    <p>Silly film about a difficult person and how hard it is to emigrate to the US. Light hearted and easy to watch. A pleasure</p>
    <img src='../../../assets/films/problemista.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Crossing</h2>
    <p>Amazing and eye opening story about a Georgian women meeting a community of trans women in Istanbul. Highly recommend</p>
    <img src='../../../assets/films/crossing.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Love Lies Bleeding</h2>
    <p>Watching this with a cinema full of lesbians was hilarious. It's brutal and hilarious</p>
    <img src='../../../assets/films/love-lies-bleeding.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Patagonia</h2>
    <p>Gay film in Italy pretty different to your average Mongay. Has a wild scene where he pisses on him.</p>
    <img src='../../../assets/films/patagonia.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>And Then We Danced</h2>
    <p>What’s it like to be gay as a Georgian traditional dancer? All the usual tropes</p>
    <img src='../../../assets/films/danced.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Milk and Serial</h2>
    <p>Very unpleasant watch, about youtube pranksters, a topic I struggle with</p>
    <img src='../../../assets/films/milk-serial.webp' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Dan Savage's Porn Film Festival</h2>
    <p>A collection of 25 porn films 5 minutes or less. Fantastic, changed my whole outlook on sex. Life changing</p>
    <img src='../../../assets/films/porn-film-festival.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Oldboy</h2>
    <p>Pretty wild film about being imprisoned for many years and finally getting out. Pretty grim, also pretty silly </p>
    <img src='../../../assets/films/oldboy.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Smiley Face</h2>
    <p>Hilarious stoner comedy, a bit on the nose but great to watch someone just being so utterly distressed by events. Loved it</p>
    <img src='../../../assets/films/smiley-face.webp' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Des Garçons de Province</h2>
    <p>Pretty plain gay film at Mongay but I enjoyed the different vibe to your standard gay film </p>
    <img src='../../../assets/films/garcons.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>The Deep Queer Massacre</h2>
    <p>Hilarious horror film with a bunch of gays getting picked off one by one in the countryside by an evil trans lady. Loved it</p>
    <img src='../../../assets/films/deep-queer.jpeg.jpeg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Mamantula</h2>
    <p>Horror film about a man-spider who eats people after sucking their dicks. Investigation by Spanish speaking lesbian detectives in Berlin. So good for so many reasons, loved it so much</p>
    <img src='../../../assets/films/mamantula.webp' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Sunflower</h2>
    <p>At Mongay, I love sunflowers but this is just trope-y bullshit with cuts to a sunflower field. Very plain</p>
    <img src='../../../assets/films/sunflower.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Anora</h2>
    <p>Fascinating, thrilling film about a sex worker. I was on the edge of my seat the whole time, highly recommend</p>
    <img src='../../../assets/films/anora.jpeg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>The Blair Witch Project</h2>
    <p>Watched this while taking mushrooms thinking it would be scary but it was actually mainly suspenseful and fun. Too many Americans </p>
    <img src='../../../assets/films/blair-witch.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Paprika</h2>
    <p>Watched this anime film while taking mushrooms thinking it would be trippy and fun but it was just a series of dream sequences without much connecting story. Frustrating watch with a really unpleasant sexual assault scene.</p>
    <img src='../../../assets/films/paprika.avif' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>El Senador</h2>
    <p>Hilariously bad film set in Brazil, watched at Mongay. Acting so bad it's good. Great moment when the cinema audience gasped at the twist</p>
    <img src='../../../assets/films/senador.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Le Comte de Montecristo</h2>
    <p>Surprisingly great! Some nonsense in there but is there anything really quite like revenge porn?</p>
    <img src='../../../assets/films/comte-de-monte-cristo.webp' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Wallace and Gromit: Vengeance Most Fowl</h2>
    <p>Delightful kids film with lots of funny tropes and references</p>
    <img src='../../../assets/films/wallace-and-gromit.jpg' width='600'>
  </div>

  <div class='film-review mt-4'>
    <h2>Pretty Woman</h2>
    <p>Rewatched this banger film. Great soundtrack and great vibes. I would also sell my body for Richard Gere</p>
    <img src='../../../assets/films/pretty-woman.avif' width='600'>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
