<app-games></app-games>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Games Fraser Played in 2021</title>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Games Fraser Played in 2021</h1>
  <p class="lead text-center">Welcome to my list of games I played in 2021! This one I did back when I was using that horrible website Twitter, which is why the reviews are so short. Looking back, I would have put a Short Hike higher, I've replayed it many times at the point.</p>

  <div class="game-review mt-4">
    <h2>Outer Wilds: Echoes of the Eye</h2>
    <p>Yep my favourite game this year was a DLC. I implore all my followers to play this game and to do it blind. It's fascinating and terrifying, and unlike anything else you've played</p>
    <img src="../../../assets/games/outer-wilds-echoes.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Metroid: Dread</h2>
    <p>Another terrifying and excellent game. The feeling when you have to go into another killer robot zone 😱. Samus has never been as badass as this</p>
    <img src="../../../assets/games/metroid-dread.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Subnautica</h2>
    <p>I was really blown away by this game. Imagine landing on a planet and there's only water and this destroyed ship. The feeling when you go deeper underwater and discover new alien shit is amazing</p>
    <img src="../../../assets/games/subnautica.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>WarioWare: Get It Together</h2>
    <p>This series will always have a special place in my heart. I love the very specific Wario humour. It's just got so many toilet jokes and I love it. Also it's the most fun to play in the series by far</p>
    <img src="../../../assets/games/warioware-get-it-together.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Deltarune: Chapter 2</h2>
    <p>Toby Fox blew it out of the water again. This only takes 3 hours or so to complete and it was such a lovely time. Plus soundtrack, of course. I love "A CYBER'S WORLD"</p>
    <img src="../../../assets/games/deltarune-2.png" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Disco Elysium</h2>
    <p>It's a slow burner, I have to admit that it's one of the very best stories/writing I've ever seen in a game. Somehow the game made me think giving drugs to a child would be a good idea. My tip is to not play the switch port!</p>
    <img src="../../../assets/games/disco-elysium.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Xenoblade Chronicles: Definitive Edition</h2>
    <p>As part of my nintendo education, this was definitely necessary! I really enjoyed my time with the game, and it has the best locations and setting ever. It also has a lot of nonsense though</p>
    <img src="../../../assets/games/xenoblade.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Axiom Verge</h2>
    <p>A small, clean, indie metroidvania. Really enjoyed it. I was just super impressed with some of the really clever upgrades you can get. Been meaning to play the second one too</p>
    <img src="../../../assets/games/axiom-verge.png" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Abzu</h2>
    <p>I'm normally not into arty farty games, but I love fish and sea life so this one was great. The perfect chill out game. Soundtrack has Ecco the Dolphin vibes</p>
    <img src="../../../assets/games/abzu.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Super Mario 3D World + Bowser's Fury</h2>
    <p>The base game is such a good party game with the right group. I played it online with some old friends and it was awesome. Bowser's Fury was a short but really fun romp</p>
    <img src="../../../assets/games/mario-3d.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Ring Fit Adventure</h2>
    <p>Borrowed this from a friend when I was losing motivation for those lockdown home workouts. It's great if you need motivation, although the workouts themselves aren't as good</p>
    <img src="../../../assets/games/ringfit.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Fez</h2>
    <p>A really cool puzzle game that I got totally into. Soundtrack is by Disasterpeace who also did Hyper Light Drifter, and it's both harsh and peaceful</p>
    <img src="../../../assets/games/fez.png" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Frostpunk</h2>
    <p>I average one new management sim game each year and this time I played this winter-themed survival game. I very rarely play PC games but it's good and addicting</p>
    <img src="../../../assets/games/frostpunk.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>A Short Hike</h2>
    <p>I loved this. It looks like a DS game!? So good. Love the soundtrack. Love the animal crossing/BOTW vibes. I would complain it's too short but it's literally called a Short Hike</p>
    <img src="../../../assets/games/shorthike.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Inside</h2>
    <p>Hard to describe what this game is but I enjoyed it a lot. One of those games that makes you feel something. Ending is really cool</p>
    <img src="../../../assets/games/inside.png" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Bugsnax</h2>
    <p>First game I played on my new playstation. Unashamed to admit I played it because my favourite band (kero kero bonito) did the theme song. Pretty cute game, although the story is a bit forced</p>
    <img src="../../../assets/games/bugsnax.png" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Horizon: Zero Dawn</h2>
    <p>A BEAUTIFUL and gorgeous-looking game. I haven't found the time to come back to it after finishing the first area. I'm scared of the robots and lost motivation when I got stuck on some hard missions</p>
    <img src="../../../assets/games/horizon.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Rocket League</h2>
    <p>A lockdown party game with old friends. It's a lot of fun and honestly can totally recommend if you want to reconnect with specifically two other friends by playing online</p>
    <img src="../../../assets/games/rocket-league.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>New Pokemon Snap</h2>
    <p>The gameplay of this game is great, although I got frustrated from having to replay the same courses over and over again. It also has that “generic” nintendo pokemon polish which takes away the soul</p>
    <img src="../../../assets/games/pokemon-snap.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Captain Toad: Treasure Tracker</h2>
    <p>This game is great for a while, but it didn't take me too long to realise that puzzles of these kind can only have so much depth. Finding the solution is always easy when the scope is so small</p>
    <img src="../../../assets/games/captain-toad.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Bug Fables</h2>
    <p>This game has some heart, which I appreciate, but I just found it quite boring It tries to be Paper Mario a little too much, as doesn't really make its own “bug fables” identity</p>
    <img src="../../../assets/games/bugfables.jpg" width="600">
  </div>

  <div class="game-review mt-4">
    <h2>Eastward</h2>
    <p>The presentation is 10/10, but it's trying way too hard to be Mother 3. The writing isn't good enough. Each cutscene leads me not understanding what's going on, despite pressing A through tons of dialogue. Lots of missed opportunities in the story.</p>
    <img class='img-responsive' src='../../../assets/games/eastward.jpg' width='600'>
  </div>

  <div class='game-review mt-4'>
    <h2>Pokemon: Brilliant Diamond </h2>
    <p>Nostalgia fueled my playthrough; otherwise, I have to say it's a bad game! Why no platinum dex? Was pokemon always this easy? The most fun I had was using Metronome with my Clefairy.</p>
    <img class='img-responsive' src='../../../assets/games/pokemon-diamond.jpg' width='600'>
  </div>

  <div class='game-review mt-4'>
    <h2>Fire Emblem: The Binding Blade </h2>
    <p>In my quest to complete all the games of all the smash characters, I had to tackle this obscure fan translation of FE6. Not gonna lie it's shit game and not nearly as good as FE7.</p>
    <img class='img-responsive' src='../../../assets/games/fireemblem-6.jpg' width='600'>
  </div>

  <div class='game-review mt-4'>
    <h2>Xenoblade Chronicles 2: Torna The Golden Country </h2>
    <p>Having enjoyed XB1, and with Pyra coming to smash, I decided to come back to this DLC but I just couldn't get through it. Characters in XB2 are so badly designed and this one boss was randomly super difficult. A real struggle, this game.</p>
    <img class='img-responsive' src='../../../assets/games/xenoblade-torna.jpg' width='600'>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
