@if (selectedKkSong) {
  <div class="modal">
    <div class="modal-content">
      <app-close-button (click)="close.emit()"/>
      <h2>{{ selectedKkSong.title }}</h2>
      <p>{{ selectedKkSong.description }}</p>
      <img [ngSrc]="imageService.imageUrl('/music/nintendo/kk/' + selectedKkSong.filename)" [alt]="selectedKkSong.title" class="modal-image" width="600" height="600">
      <app-rating-bar [rating]="{id: selectedKkSong.id, ratings: selectedKkSong.rating}"></app-rating-bar>
    </div>
  </div>
}
