.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(45deg, #05025c, #350170);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #cccab6;
  border: 2px solid #000000;
  border-radius: 10px;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.character-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-item:not(.grayscale) {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.character-item:not(.grayscale):hover {
  transform: scale(1.1);
}

.character-item.grayscale {
  cursor: default;
}

.character-icon {
  width: 32px;
  height: 32px;
}

.grayscale {
  filter: grayscale(100%);
}

.password-input {
  margin-bottom: 20px;
}

.password-input label {
  font-weight: bold;
}

.password-input input {
  padding: 5px;
}
