<div class="container">
  <h1>Choose your fighter!</h1>
  <ul class="character-grid">
    <li
      class="character.description ? character-item : character-nothing"
      *ngFor="let character of characters"
      (click)="character.main ? selectCharacter(character) : null"
      [ngClass]="{'grayscale': !character.main}"
    >
      <div class="box" [style.box-shadow]="getBorderColor(character.color)"></div>
      <img
        [ngSrc]="imageService.imageUrl('/misc/characters/icons/' + character.icon)"
        alt="{{ character.name }}"
        class="character-icon"
        width="20"
        height="20"
      />
    </li>
  </ul>

  <div class="password-input">
    <label for="password">Change the character images with a password:</label>
    <input
      id="password"
      type="text"
      [(ngModel)]="password"
      (input)="updatePictureMode()"
      placeholder="ask me personally for this"
    />
  </div>
  <app-character [selectedCharacter]="selectedCharacter" [pictureMode]="pictureMode" (close)="closeDetail()"></app-character>
</div>
