<div class="container">
  <h1>What does your main say about you?</h1>
  <p>Please don't take these seriously! I'm just fooling around. It's vibes-based, not based on any people in particular. You can write me an email if you disagree with any of them.</p>
  <div class="character-grid">
    <div
      class="character.description ? character-item : character-nothing"
      *ngFor="let character of characters"
      (click)="character.description ? selectCharacter(character) : null"
      [ngClass]="{'grayscale': !character.description}"
    >
      <img
        [ngSrc]="'assets/misc/characters/icons/' + character.icon"
        alt="{{ character.name }}"
        class="character-icon"
        width="20"
        height="20"
      />
    </div>
  </div>

  <div class="password-input">
    <label for="password">Change the character images with a password:</label>
    <input
      id="password"
      type="text"
      [(ngModel)]="password"
      (input)="updatePictureMode()"
      placeholder="ask me personally for this"
    />
  </div>

  <app-character [selectedCharacter]="selectedCharacter" [pictureMode]="pictureMode" (close)="closeDetail()"></app-character>
</div>
