<div class="container">
  <h1>Anni's Durstlöscher Reviews</h1>
  <p>Anni is a Durstlöscher expert and on this page provides her expert opinion on every flavour released so far.</p>
  <img [src]="'assets/links/durstloescher/anni2.PNG'" [alt]="'Anni'" class="anni">
  <div class="sorting-buttons">
    <button (click)="sortDurstloescher('post')">By Most Recent</button>
    <button (click)="sortDurstloescher('random')">Random Order</button>
    <button (click)="sortDurstloescher('alphabeticalName')">Alphabetical by Name</button>
    <button (click)="sortDurstloescher('score')">By score</button>
  </div>
  <div *ngFor="let durst of durstloescher" class="durstloescher-card" (click)="showDescription(durst)">
    <div class="durstloescher-image-container">
      <img [ngSrc]="'assets/links/durstloescher/' + durst.filename" [alt]="durst.name" class="durstloescher-image" width="600" height="600">
    </div>
    <div class="durstloescher-info">
      <h3 class="durstloescher-name">{{ durst.name }}</h3>
      <span class="durstloescher-score">{{ durst.score }}</span>
    </div>
  </div>
</div>

<div *ngIf="selectedDurstloescher" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeDescription()">&times;</span>
    <h2>{{ selectedDurstloescher.name }}</h2>
    <p>{{ selectedDurstloescher.description }}</p>
    <img [ngSrc]="'assets/links/durstloescher/' + selectedDurstloescher.filename" [alt]="selectedDurstloescher.name" class="modal-image" width="600" height="600">
    <div class="star">
      <app-star-message
        [score]="selectedDurstloescher.fraserscore"
        [description]="selectedDurstloescher.fraserdescription">
      </app-star-message>
    </div>
  </div>
</div>
