.container {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #023000;
  background: radial-gradient(circle, #026913, #abff7a);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.row-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-item {
  position: relative;
  padding: 20px;
  border: 2px solid #023000;
  border-radius: 8px;
  background-color: #a7fcaf;
}

.gif {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  scale: 1.4;
}

.fun-button {
  background: radial-gradient(circle, #1a5704, #873200);
  border: 4px solid #ffcc00;
  padding: 15px 40px;
  font-size: 22px;
  font-weight: bold;
  font-family: "Times New Roman", cursive, sans-serif;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  color: greenyellow;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.fun-button:hover {
  transform: scale(1.1) rotate(-3deg);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}

.fun-button:active {
  transform: scale(0.95);
}

.secret {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  scale: 0.8;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}

.cd-image-container {
  width: 50%;
  position: relative;
  overflow: visible;
  margin: 0 auto;
}

.cd-image {
  display: block;
  width: 89%;
  height: 89%;
  object-fit: contain;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cd-case {
  position: absolute;
  top: 0;
  right: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  z-index: 10;
}
