<div class="container mt-5">
  <h1>Time to listen to some great music</h1>
  <p>On this page we've got all sorts! It's still a work in progress so be sure to come back later for more content. First, here are some of my favourite albums. I'll work on this over time but there is a small selection of albums here with a few words about them already:</p>
  <button class="fun-button" (click)="handleClick('/music/albums')">
    <span class="button-text">Albums</span>
  </button>
  <p>Secondly here are some links to my favourite spotify playlists:</p>
  <button class="fun-button" (click)="handleClick('/music/spotify')">
    <span class="button-text">Spotify Playlists</span>
  </button>
  <p>Next, have you heard about the Nintendo music app? It's so good! Yeah there isn't a huge selection of soundtracks on there just yet, they're dropping new ones every week and I'm so hooked. I'm gonna write reviews of each soundtrack and also put my playlists of here:</p>
  <button class="fun-button" (click)="handleClick('/music/nintendo')">
    <span class="button-text">Nintendo Soundtracks</span>
  </button>
  <p>Talking about video game music, over the years I made a bunch of mixes of my favourite tracks. They are available for download here. Bear in mind this website is running on a raspberry pi so the download might take a while:</p>
  <button class="fun-button" (click)="handleClick('/music/mixes')">
    <span class="button-text">Video Game Mixes</span>
  </button>
</div>
