.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(45deg, #d2d1ff, #d1e8ff);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #192837;
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-style: italic;
}
