<div [ngClass]="{'film-review': !film.tv, 'tv-review': film.tv}">
  <h2>{{ film.title }}</h2>
  <span [ngClass]="{'release-info': !film.tv, 'tv-info': film.tv}">Released:</span> {{ film.release }} |
  <span [ngClass]="{'release-info': !film.tv, 'tv-info': film.tv}">Watched:</span> {{ film.year }}
  <p *ngIf="film.tv">
    <span class="tv-info">Seasons watched:</span>
    <span *ngFor="let season of film.seasons; let isLast = last">
      {{ season }}<ng-container *ngIf="!isLast">, </ng-container>
    </span>
  </p>
  <p>{{ film.description }}</p>
  <img [ngSrc]="imageService.imageUrl('/films/' + film.filename)" alt="{{ film.title }}" width="600" height="400">
  <div [ngStyle]="{'padding-bottom': '10px'}"></div>
  <app-rating-bar [rating]="{id: film.id, ratings: film.rating}"></app-rating-bar>
</div>
