<div class="image-details">
  <h2>{{ photo.title }}</h2>
  <div class="image-container" (click)="openModal(photo)">
    @if (showText) {
      <img [ngSrc]="imageService.imageUrl('/gallery/' + photo.unmasked)" [alt]="photo.title" class="gallery-image" width="600" height="600">
    } @else {
      <img [ngSrc]="imageService.imageUrl('/gallery/' + photo.filename)" [alt]="photo.title" class="gallery-image" width="600" height="600">
    }
  </div>
  <div class="description-container">
    <p>To unlock the anecdote behind this photo, please answer this question:</p>
    <p>{{ photo.question }}</p>
    <div class="input-group">
      <input [(ngModel)]="userAnswer" (keyup.enter)="checkAnswer(userAnswer)" placeholder="Your answer here">
      <button (click)="checkAnswer(userAnswer)">Submit</button>
    </div>
    @if (showText) {
      <div>
        <p>{{ photo.description }}</p>
      </div>
    }
  </div>
  <p class="date" [ngStyle]="{'padding-bottom': '10px'}">{{ photo.month }}</p>
  <app-rating-bar [rating]="{id: photo.id, ratings: photo.rating}"></app-rating-bar>
</div>

@if (modalImage) {
  <div class="modal" (click)="closeModal()">
    <img
    [ngSrc]="imageService.imageUrl(
    '/gallery/' + (showText ? modalImage.unmasked : modalImage.filename)
  )"
      [alt]="modalImage.title"
      class="modal-image"
      width="600"
      height="600"
      />
    </div>
  }
