<div class="image-details">
  <h3>{{ photo.title }}</h3>
  <div class="image-container" (click)="openModal(photo)">
    <ng-container *ngIf="showText; else normalImage">
      <img [ngSrc]="'assets/gallery/' + photo.unmasked" [alt]="photo.title" class="gallery-image" width="600" height="600">
    </ng-container>
    <ng-template #normalImage>
      <img [ngSrc]="'assets/gallery/' + photo.filename" [alt]="photo.title" class="gallery-image" width="600" height="600">
    </ng-template>
  </div>
  <div class="description-container">
    <p>To unlock the anecdote behind this photo, please answer this question:</p>
    <p>{{ photo.question }}</p>
    <div class="input-group">
      <input [(ngModel)]="userAnswer" (keyup.enter)="checkAnswer(userAnswer)" placeholder="Your answer here">
      <button (click)="checkAnswer(userAnswer)">Submit</button>
    </div>
    <div *ngIf="showText">
      <p>{{ photo.description }}</p>
    </div>
  </div>
  <p class="date" [ngStyle]="{'padding-bottom': '10px'}">{{ photo.month }}</p>
  <app-rating-bar [rating]="{id: photo.id, ratings: photo.rating}"></app-rating-bar>
</div>

<div *ngIf="modalImage" class="modal" (click)="closeModal()">
  <img [ngSrc]="'assets/gallery/' + modalImage.filename" [alt]="modalImage.title" class="modal-image" width="600" height="600">
</div>
